<template>
  <div> 
  <!-- Erreurs du serveur -->
      <!-- Barre d'outils -->
      <v-toolbar color="red" fixed app :clipped-left="clipped" >
          <v-toolbar-side-icon @click.native.stop="$bus.emit('toggleDrawer')"></v-toolbar-side-icon>

          <v-toolbar-title class="white--text" v-text="toolbarTitle"></v-toolbar-title>
          <v-spacer></v-spacer>
          <div class="white--text" v-show="selected.length>0" >
              {{ $t('ui.text.labelButton', {nb: selected.length}) }}
          </div>
          <div v-show="errors.length <= 0">
          <v-tooltip bottom>
            <v-btn slot="activator" :disabled="selected.length<=0" class="white--text"
                    icon
                    v-shortkey="['ctrl','e']"
                    @shortkey="editAll"
                    @click="editAll"
            >
                <v-icon>edit</v-icon>
            </v-btn>
          <span>{{ $t('ui.tooltip.editall') }}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <v-btn  slot="activator"  :disabled="selected.length<=0" class="white--text"
                  icon
                  v-shortkey="['ctrl','c']"
                  @shortkey="duplicateAll"
                  @click="duplicateAll"
          >
              <v-icon>content_copy</v-icon>
          </v-btn>
          <span>{{ $t('ui.tooltip.duplicateall') }}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <v-btn  slot="activator" :disabled="selected.length<=0" class="white--text"
                  icon
                  v-shortkey="['del']"
                  @click="deleteAll"
                  @shortkey="deleteAll"
          >
              <v-icon>delete</v-icon>
          </v-btn>
          <span>{{ $t('ui.tooltip.deleteall') }}</span>
        </v-tooltip>
      </div>
      </v-toolbar>

      <!-- Erreurs du serveur -->
   <div  class="width-100perc" v-show="errors.length > 0">
    <p>{{ $t('ui.text.errormsg.connexion') }}</p>
  </div> 

    <!-- Form de recherche -->
    <v-text-field
          @keyup.enter="showDialogFilter('searchFilter')"
          name="input-10-1"
          :label="$t('list.event.placeholder_search')" 
          min="8"
          append-icon="search"  
          v-model="text_search"  
          type="text" 
           v-show="errors.length <= 0"
        ></v-text-field> 

       <!-- ENtete --> 
      <v-layout row wrap class="pal" v-show="errors.length <= 0">
      <v-flex xs12 sm9>
        <h2 v-show="items.length>0" >{{ $t('ui.text.affichage', {nb: items.length, total: totalItems}) }}   </h2>
        <h2 v-show="!items.length" >{{ $t('list.event.titleEmpty') }}</h2>
      </v-flex>
      <v-flex xs12 sm1>
            <!-- MENUS onglets -->
            
            <v-menu
            offset-x
            :close-on-content-click="false"
            :nudge-width="200"
            v-model="menu"
          >
            <v-btn color="indigo" dark slot="activator">{{ $t('ui.button.filtre_recherche') }}</v-btn>
            <v-card >
              <div><v-tabs fixed centered>
      <v-tabs-bar class="cyan" dark>
        <v-tabs-slider class="yellow"></v-tabs-slider>
        <v-tabs-item href="#tab-1">
          {{ $t('ui.button.filtre') }}
        </v-tabs-item>
         <v-tabs-item href="#tab-2">
          {{ $t('ui.button.recherche_avancee') }}
        </v-tabs-item>
          
      </v-tabs-bar>
      <v-tabs-items>
        <v-tabs-content id="tab-1">
          <v-card flat>
             <v-list>
                <v-list-tile avatar v-for="item in menuListeTypesEvent" :key="item.title" @click="showFilter(item)">
                   
                  <v-list-tile-content>
                    <v-list-tile-title v-text="item.title"></v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-icon v-show="isCurrent(item)" >check</v-icon>
                  </v-list-tile-action>
                   
                </v-list-tile>
              </v-list>
          </v-card>
        </v-tabs-content>
        <v-tabs-content id="tab-2">
          <v-card flat>
            <v-list>
                <v-list-tile avatar v-for="item in menuListeTypesEventTabAdvanced" :key="item.title" @click="showFilterAdvanced(item)">
                   
                  <v-list-tile-content>
                    <v-list-tile-title v-text="item.title"></v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-icon v-show="isCurrent(item)" >check</v-icon>
                  </v-list-tile-action>
                   
                </v-list-tile> 
              </v-list>
          </v-card>
        </v-tabs-content>
         
      </v-tabs-items></v-tabs></div>
            </v-card>
          </v-menu>
      <!-- MENUS onglets-->
    </v-flex>
  
    </v-layout>

    <!-- Datatable -->
      <v-data-table
          v-model="selected"
          :headers="headers"
          :items="items"
          hide-actions
          select-all
          class="elevation-1 mtl"
           v-show="errors.length <= 0"
  >
    <template slot="headers" slot-scope="props" >
        <tr>
            <th>
                <v-checkbox
                        v-show="items.length>0"
                        primary
                        hide-details
                        v-shortkey="['ctrl','alt','a']" 
                        @shortkey="toggleAll"
                        @click.native="toggleAll"
                        :input-value="props.all"
                        :indeterminate="props.indeterminate"
                ></v-checkbox>
            </th>
            <th
                    v-for="header in props.headers"
                    :key="header.text"
                    :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                    @click="changeSort(header.value)"
            >
                <v-icon small>arrow_upward</v-icon>
                {{ header.text }}
            </th>
        </tr>
    </template>
    <template slot="items" slot-scope="props">
        <tr :active="props.selected" @click="isSelected(props)" :class="props.item.class"   @mouseleave.native="props.item.hover = false">
            <td @mouseover="alert('hover')">
            <v-checkbox
                    primary
                    hide-details
                    :input-value="props.selected"
            ></v-checkbox>
        </td>
        <td >{{ props.item.name }}</td>
      <td class="text-xs-right cursor--pointer"><v-tooltip right><img slot="activator" @click="zoomFlyerAction(props.item.flyer, props.item.id)" :src="$helpers.host() + 'media/cache/my_thumb_70/assets/flyers/' + props.item.flyer"><span>{{ $t('ui.tooltip.zoomimage') }}</span></v-tooltip></td>
      <td class="text-xs-right" v-if="props.item.eventtype.length>0">{{ props.item.eventtype[0].name }}</td>
      <td class="text-xs-right" v-if="!props.item.eventtype.length">.</td>
      <td class="text-xs-right" v-if="props.item.eventlieu">{{ props.item.eventlieu.name }} {{ props.item.hover }}</td>
      <td class="text-xs-right" v-if="!props.item.eventlieu">-</td>
      <td class="text-xs-center"> 
          <table v-if="!props.item.hover"><tr><td>
            <v-btn  @click="detailAction(props.item.id)"
                  icon
                  slot="activator">
              <v-icon>edit</v-icon>
            </v-btn>
            </td>
            <td>
            <v-btn  @click="deleteAction(props.item.id)"
                    icon
                    slot="activator">
              <v-icon>delete</v-icon>
            </v-btn>
            </td>
            <td>
            <v-btn  @click="duplicateAction(props.item)"
                    icon
                    slot="activator">
              <v-icon>content_copy</v-icon>
            </v-btn>
            </td>
            <td>
            <v-btn  @click="externallinkAction(props.item)"
                    icon
                    slot="activator">
              <v-icon>exit_to_app</v-icon>
            </v-btn>
          </td>
        </tr>
          </table> 
      </td>
        </tr>
    </template>
    <template slot="no-data">
        <div class="text-xs-center "><v-progress-circular indeterminate color="red" ></v-progress-circular></div>
    </template>
  </v-data-table>

 

  <!-- Boutons ajouter event -->
  <v-tooltip left v-show="errors.length <= 0">
    <v-btn
          slot="activator"
          color="primary"
          dark
          large
          fixed
          bottom
          right
          fab
          v-shortkey="['ctrl','n']" 
          @shortkey="createNew"
          @click="createNew"
  >
      <v-icon>add</v-icon>
      <v-icon>close</v-icon>
  </v-btn>
       <span>{{ $t('ui.tooltip.create') }}</span>
  </v-tooltip>
  <!-- Boutons ajouter event -->

  <!-- Loader -->
  <div class="text-xs-center mtl" v-show="errors.length <= 0"><v-progress-circular indeterminate color="red" v-show="loading && totalItems > items.length"></v-progress-circular></div>
  <!-- Loader -->

  <p  v-show="items.length>0" ><br> {{ $t('ui.text.affichage', {nb: items.length, total: totalItems}) }} </p>

  <!-- Boite de dialog confirm -->
  <v-dialog v-model="dialog" max-width="290">
    <v-card>
      <v-card-title class="headline">{{ $t('ui.dialog.title.delete') }}</v-card-title>
      <v-card-text>{{ $t('ui.dialog.text.delete') }}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" flat="flat" v-shortkey="['esc']" @shortkey="dialog = false" @click.native="dialog = false">{{ $t('ui.button.no') }}</v-btn>
        <v-btn color="green darken-1" flat="flat" v-show="!clickedAll" @click.native="confirmYes">{{ $t('ui.button.yes') }}</v-btn>
        <v-btn color="green darken-1" flat="flat"  v-show="clickedAll" @click.native="confirmAllYes">{{ $t('ui.button.yes') }} </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <!-- Boite de dialog confirm -->

  <!-- Boite de dialog afficher image plein ecran -->
  <v-dialog v-model="dialogfs" fullscreen transition="dialog-bottom-transition" :overlay="false">
    <v-card>
      <v-toolbar dark color="primary">
            <v-tooltip bottom>
              <v-btn slot="activator" icon v-shortkey="['esc']" @shortkey="dialogfs = false" @click.native="dialogfs = false" dark>
                <v-icon>close</v-icon>
              </v-btn>
              <span>{{ $t('ui.tooltip.fermer') }}</span>
            </v-tooltip> 
      </v-toolbar>
      <v-layout row wrap align-center class="backgroundBlack">
        <v-flex class="text-xs-center">
            <!--<progressive-img :src="itemImg"  :blur="30"/>-->
            <img v-lazy="itemImg" />
        </v-flex>
      </v-layout>
    </v-card>
  </v-dialog>
  <!-- Boite de dialog afficher image plein ecran -->

  <!-- Boite de dialog Edition multiple -->
  <v-dialog v-model="dialogfseditmultiple" fullscreen transition="dialog-bottom-transition" :overlay="false">
    <v-card>
      <v-toolbar dark color="primary">
           <v-tooltip bottom>
              <v-btn slot="activator" icon  v-shortkey="['esc']" @shortkey="dialogfseditmultiple = false" @click.native="dialogfseditmultiple = false" dark>
              <v-icon>close</v-icon>
            </v-btn><span>{{ $t('ui.tooltip.fermer') }}</span>
            </v-tooltip> 
            <v-toolbar-title class="white--text" v-text="$t('ui.text.edition_multiple', { nb: selected.length })"></v-toolbar-title>
      </v-toolbar>
      <v-layout row wrap align-center>
        <v-flex class="pal">
          <v-layout row wrap> 
              <v-flex xs6>
           <!-- 1ere colonne -->
             <v-layout row wrap> 
              <v-flex xs12>
                <v-switch
                :label="$t('ui.form.label.eventHidden')"
                v-model="switchHidden"></v-switch>
                <v-switch
                :label="$t('ui.form.label.eventCancelled')"
                color="red"
                v-model="switchCancelled"></v-switch>
                <autocomplete-thematiques chips autocomplete multiple hide-selected  v-model="valuesThematiques"></autocomplete-thematiques>
              </v-flex>
              <v-flex xs12>
                <autocomplete-artists v-model="valuesArtistes"></autocomplete-artists>
              </v-flex>
              <v-flex xs12>
                <autocomplete-places chips autocomplete multiple hide-selected v-model="valuesPlaces"></autocomplete-places>
              </v-flex>
              <v-flex xs12>
                <autocomplete-access v-model="valuesAccess"></autocomplete-access>
              </v-flex>
              <v-flex xs12>
                <autocomplete-local multiple hide-selected autocomplete chips v-model="valuesLocal"></autocomplete-local>
              </v-flex>
              <date-flatpicker v-model="date"></date-flatpicker> 
      </v-layout>
      <!-- /1ere colonne -->
      </v-flex>
      <v-flex xs6>
      <!-- 2e colonne -->
      <v-list two-line>
          <template v-for="(item, index) in selected">
            <v-list-tile
              avatar
              ripple
              @click="toggle(index)"
              :key="item.title"
            >
              <v-list-tile-avatar>
                <img :src="$helpers.host() + 'media/cache/my_thumb_70/assets/flyers/' + item.flyer">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                <v-list-tile-sub-title class="text--primary">{{ item.headline }}</v-list-tile-sub-title>
                <v-list-tile-sub-title>{{ item.eventtype[0].name }}</v-list-tile-sub-title>
              </v-list-tile-content>
              
            </v-list-tile>
            <v-divider v-if="index + 1 < items.length" :key="index"></v-divider>
          </template>
        </v-list>
      <!-- /2e colonne -->
      </v-flex>
      </v-layout>
        </v-flex>
      </v-layout>
    </v-card>
  </v-dialog>
  <!-- Boite de dialog Edition multiple -->

  <!-- NOTIFS -->  
  <v-snackbar
          :timeout="10000"
          :top="false"
          :bottom="true"
          :right="true"
          :left="false"
          :multi-line="false"
          :vertical="false"
          v-model="snackbar"
  >
      <span v-html="snackbarText"></span>
      <v-btn flat color="pink" @click.native="snackbar = false"> {{ $t('ui.button.close') }}</v-btn>
  </v-snackbar>
  <!-- NOTIFS -->

  <!-- Boite de dialog Filtres thematiques -->
  <v-dialog v-model="dialogThematiqueFilter" max-width="500">
    <v-card>
      <v-card-title class="headline">{{ $t('ui.dialog.title.filterThematiques') }}</v-card-title>
      <v-card-text>
      <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <autocomplete-thematiques chips autocomplete multiple hide-selected v-model="valuesThematiques"></autocomplete-thematiques>
              </v-flex>
            </v-layout>
          </v-container>
          <small>{{ $t('ui.text.fields_requireds') }}</small>
        </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" flat="flat" @click.native="dialogThematiqueFilter = false">{{ $t('ui.button.close') }}</v-btn>
        <v-btn color="green darken-1" flat="flat"  @click.native="getSelectedThematique">{{ $t('ui.button.apply') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <!-- Boite de dialog Filtres thematiques --> 

  <!-- Boite de dialog Filtres Artistes -->
  <v-dialog v-model="dialogArtistesFilter" max-width="500">
    <v-card>
      <v-card-title class="headline">{{ $t('ui.dialog.title.filterArtistes') }}</v-card-title>
      <v-card-text>
      <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <autocomplete-artists  chips autocomplete multiple hide-selected v-model="valuesArtistes"></autocomplete-artists>
              </v-flex>
            </v-layout>
          </v-container>
          <small>{{ $t('ui.text.fields_requireds') }}</small>
        </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" flat="flat" @click.native="dialogArtistesFilter = false">{{ $t('ui.button.close') }}</v-btn>
        <v-btn color="green darken-1" flat="flat"  @click.native="getSelectedArtistes">{{ $t('ui.button.apply') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <!-- Boite de dialog Filtres Artistes --> 

  <!-- Boite de dialog Filtres Dates -->
  <v-dialog v-model="dialogDatesFilter" max-width="600">
    <v-card>
      <v-card-title class="headline">{{ $t('ui.dialog.title.filterDates') }}</v-card-title>
      <v-card-text>
      <v-container grid-list-md>
            <v-layout wrap>
              <date-flatpicker v-model="date"></date-flatpicker> 
            </v-layout>
          </v-container>
          <small>{{ $t('ui.text.fields_requireds') }}</small>
        </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" flat="flat" @click.native="dialogDatesFilter = false">{{ $t('ui.button.close') }}</v-btn>
        <v-btn color="green darken-1" flat="flat"  @click.native="getSelectedDates">{{ $t('ui.button.apply') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <!-- Boite de dialog Filtres Dates -->

  <!-- Boite de dialog Filtres Local -->
  <v-dialog v-model="dialogLocalFilter" max-width="500">
    <v-card>
      <v-card-title class="headline">{{ $t('ui.dialog.title.filterLocal') }}</v-card-title>
      <v-card-text>
      <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <autocomplete-local  chips autocomplete multiple hide-selected  v-model="valuesLocal"></autocomplete-local>
              </v-flex>
            </v-layout>
          </v-container>
          <small>{{ $t('ui.text.fields_requireds') }}</small>
        </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" flat="flat" @click.native="dialogLocalFilter = false">{{ $t('ui.button.close') }}</v-btn>
        <v-btn color="green darken-1" flat="flat"  @click.native="getSelectedLocal">{{ $t('ui.button.apply') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <!-- Boite de dialog Filtres Local -->

  <!-- Boite de dialog Filtres Access -->
  <v-dialog v-model="dialogAccessFilter" max-width="500">
    <v-card>
      <v-card-title class="headline">{{ $t('ui.dialog.title.filterAccess') }}</v-card-title>
      <v-card-text>
      <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <autocomplete-access  chips autocomplete multiple hide-selected v-model="valuesAccess"></autocomplete-access>
              </v-flex>
            </v-layout>
          </v-container>
          <small>{{ $t('ui.text.fields_requireds') }}</small>
        </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" flat="flat" @click.native="dialogAccessFilter = false">{{ $t('ui.button.close') }}</v-btn>
        <v-btn color="green darken-1" flat="flat"  @click.native="getSelectedAccess">{{ $t('ui.button.apply') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <!-- Boite de dialog Filtres Local -->

  <!-- Boite de dialog Filtres Lieux -->
  <v-dialog v-model="dialogPlacesFilter" max-width="500">
    <v-card>
      <v-card-title class="headline">{{ $t('ui.dialog.title.filterPlaces') }}</v-card-title>
      <v-card-text>
      <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <autocomplete-places  chips autocomplete multiple hide-selected v-model="valuesPlaces"></autocomplete-places>
              </v-flex>
            </v-layout>
          </v-container>
          <small>{{ $t('ui.text.fields_requireds') }}</small>
        </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" flat="flat" @click.native="dialogPlacesFilter = false">{{ $t('ui.button.close') }}</v-btn>
        <v-btn color="green darken-1" flat="flat"  @click.native="getSelectedPlaces">{{ $t('ui.button.apply') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <!-- Boite de dialog Filtres Lieux -->

  <!-- Boite de dialog Filtres Search -->
  <v-dialog v-model="dialogfsSearchFilter" fullscreen transition="dialog-bottom-transition" overlay="false">
    <v-card>
      <v-toolbar dark color="primary">
            <v-tooltip bottom>
              <v-btn slot="activator" icon v-shortkey="['esc']" @shortkey="dialogfsSearchFilter = false" @click.native="dialogfsSearchFilter = false" dark>
                <v-icon>close</v-icon>
              </v-btn>
              <span>{{ $t('ui.tooltip.fermer') }}</span>
            </v-tooltip> 
            <v-toolbar-title class="white--text" v-text="$t('ui.dialog.title.filterSearch')"></v-toolbar-title>
      </v-toolbar> 
      <v-card-text>
      <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field
                  :label="$t('ui.text.keyword_label')"
                   v-model="text_search"
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <autocomplete-thematiques  chips autocomplete multiple hide-selected v-model="valuesThematiques"></autocomplete-thematiques>
              </v-flex>
              <v-flex xs12>
                <autocomplete-artists  chips autocomplete multiple hide-selected v-model="valuesArtistes"></autocomplete-artists>
              </v-flex>
              <v-flex xs12>
                <autocomplete-access  chips autocomplete multiple hide-selected v-model="valuesAccess"></autocomplete-access>
              </v-flex>
              <v-flex xs12>
                <autocomplete-places  chips autocomplete multiple hide-selected v-model="valuesPlaces"></autocomplete-places> 
              </v-flex>
              <v-flex xs12>
                <autocomplete-local  chips autocomplete multiple hide-selected v-model="valuesLocal"></autocomplete-local> 
              </v-flex>
              <date-flatpicker v-model="date"></date-flatpicker> 
            </v-layout>
          </v-container>
          <small>{{ $t('ui.text.fields_requireds') }}</small>
        </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer> 
        <v-btn color="green darken-1" flat="flat" @click.native="getSelectedThematique">{{ $t('ui.button.apply') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <!-- Boite de dialog Filtres Search -->

  </div>
</template>

<style scoped>
    .backgroundBlack {
        background-color: #000000;
    }
    .wrapper {
        flex: 1 0 33.333%;
        position: relative;
        height: 0;
        padding-bottom: 33.333vw;
    }

    .wrapper img {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 250ms ease-out;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
        transform: scale(.8);
    }

    /* preloader source: https://codepen.io/Alex-Miller/pen/qviHa */
    .preloader {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        width: 50px;
        height: 50px;
        transition: all 100ms ease-in;
    }

    .preloader .circle,
    .preloader .circle .circle-inner {
        width: inherit;
        height: inherit;
        border-radius: 50%;
        background: linear-gradient(rgba(64, 150, 238, 1) -50%,rgba(64, 150, 238, 0) 60%);
    }

    .preloader .circle {
        animation: roll 6s linear infinite;
    }

    .preloader .circle .circle-inner {
        padding: 5px;
        animation: roll 2s linear infinite reverse;
    }

    .preloader .circle .circle-inner::after {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
    }

    @keyframes roll {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .disable-row {
        color: #dddddd !important
    }
    .disable-row img {
            opacity: 0.3
    }
</style>

<script>
    import DateFlatpicker from './Ui/DateFlatpicker'
    import AutocompleteArtists from './Ui/AutocompleteArtists'
    import AutocompleteThematiques from './Ui/AutocompleteThematiques'
    import AutocompleteAccess from './Ui/AutocompleteAccess'
    import AutocompleteLocal from './Ui/AutocompleteLocal'
    import AutocompletePlaces from './Ui/AutocompletePlaces'

    // Store
    const Store = require('electron-store')
    const electronSettings = new Store()

    export default {
      name: 'eventlist',
      components: {
        DateFlatpicker,
        AutocompleteArtists,
        AutocompleteThematiques,
        AutocompleteAccess,
        AutocompleteLocal,
        AutocompletePlaces
      },
      data () {
        return {
          // Windows infos
          inH: 0,
          scY: 0,
          ofH: 0,
          nexOffset: 0,
          // Windows infos
          // URL par defaut
          urlevent: 'currentevent?limit=' + electronSettings.get('limit'),
          // Afficher boite de dialogue
          dialog: false,
          dialogfs: false,
          dialogThematiqueFilter: false,
          dialogfsSearchFilter: false,
          dialogArtistesFilter: false,
          dialogDatesFilter: false,
          dialogLocalFilter: false,
          dialogAccessFilter: false,
          dialogfseditmultiple: false,
          dialogPlacesFilter: false,
          // Afficher Onglets
          showtab: true,
          // Afficher Notif snackbar
          snackbar: false,
          // Tous les checkbox ont ete cliques
          clickedAll: false,
          // Switch
          switchCancelled: false,
          switchHidden: false,
          itemID: 0,
          itemImg: '',
          snackbarText: '',
          toolbarTitle: this.$t('list.event.mainTitle'),
          selected: [],
          search: '',
          totalItems: 0,
          trigger: 300,
          endKey: 0,
          limit: 0,
          loading: true,
          text_search: '',
          pagination: {},
          // En tete tableaux
          headers: [
            {
              text: this.$t('list.event.thead.field_titre'),
              align: 'left',
              sortable: true,
              value: 'name'
            },
            {
              text: this.$t('list.event.thead.field_flyer'),
              value: 'flyer',
              sortable: false
            },
            {
              text: this.$t('list.event.thead.field_thematique'),
              value: 'eventtype.name',
              sortable: false
            },
            {
              text: this.$t('list.event.thead.field_lieu'),
              value: 'eventlieu.name',
              sortable: true
            },
            { text: ' ', value: 'actions', sortable: false, align: 'center' }
          ],
          // Items
          itemsChoiceDate: [
            { key: 'dateHour', title: this.$t('ui.text.date_hour') },
            { key: 'betweenDates', title: this.$t('ui.text.date_range') },
            { key: 'multiplesDates', title: this.$t('ui.text.date_multiple') }
          ],
          items: [],
          itemsThematiqueFilters: [],
          itemsArtistesFilters: [],
          itemsAccessFilters: [],
          itemsLocalFilters: [],
          // Valeurs items
          valuesThematiques: [],
          valuesArtistes: [],
          valuesLocal: [],
          valuesAccess: [],
          valuesPlaces: [],
          // Erreurs
          errors: [],
          // Dates
          dateFlatPickerMultiple: '',
          // Onglets dans filtres
          menuListeTypesEvent: [
            {
              title: this.$t('list.event.currentmonthTitle'),
              key: 'currenteventmonth?limit=' + electronSettings.get('limit'),
              l18n: 'list.event.currentmonthTitle'
            },
            {
              title: this.$t('list.event.mainTitle'),
              key: 'currentevent?limit=' + electronSettings.get('limit'),
              l18n: 'list.event.mainTitle'
            },
            {
              title: this.$t('list.event.allTitle'),
              key: 'eventlastadded?limit=' + electronSettings.get('limit'),
              l18n: 'list.event.allTitle'
            }
          ],
          // Onglets dans recherche avancee
          menuListeTypesEventTabAdvanced: [
            {
              title: this.$t('list.event.thematiqueFilter'),
              key: 'thematiqueFilter',
              l18n: 'list.event.thematiqueFilter'
            },
            {
              title: this.$t('list.event.artistesFilter'),
              key: 'artistesFilter',
              l18n: 'list.event.artistesFilter'
            },
            {
              title: this.$t('list.event.datesFilter'),
              key: 'datesFilter',
              l18n: 'list.event.datesFilter'
            },
            {
              title: this.$t('list.event.localFilter'),
              key: 'localFilter',
              l18n: 'list.event.localFilter'
            },
            {
              title: this.$t('list.event.placesFilter'),
              key: 'placesFilter',
              l18n: 'list.event.placesFilter'
            },
            {
              title: this.$t('list.event.accessFilter'),
              key: 'accessFilter',
              l18n: 'list.event.accessFilter'
            },
            {
              title: this.$t('list.event.searchFilter'),
              key: 'searchFilter',
              l18n: 'list.event.searchFilter'
            }
          ],
          momentNow: 0
        }
      },
      methods: {
        editAll: function () {
          this.dialogfseditmultiple = false
          let nbEdited = 0
          // console.log('this.selected: ' + this.selected)
          for (let i = this.selected.length - 1; i >= 0; i--) {
            // console.log(' editAll: ' + itemNode.name)
            nbEdited++
          }
          if (nbEdited > 1) {
            this.dialogfseditmultiple = true
          }

          if (nbEdited === 1) {
            // Edition
            let item = this.selected[0]
            this.detailAction(item)
          }
        },
        deleteAll: function () {
          this.dialog = true
          this.clickedAll = true
        },
        duplicateAll: function () {
          let nbDuplicated = 0
          for (let i = this.items.length - 1; i >= 0; i--) {
            let itemNode = this.items[i]
            if (this.selected.indexOf(itemNode) !== -1) {
              console.log(' Suppr: ' + itemNode.name)
              // this.items.splice(i, 1)
              nbDuplicated++
              let cloneObj = this.clone(itemNode)
              let entityName = itemNode.name
              cloneObj.class = 'disable-row'
              cloneObj.name = entityName + '(copy)'
              this.items.push(cloneObj)
            }
          }
          this.selected = []
          if (nbDuplicated > 0) {
            this.snackbar = true
            this.snackbarText = this.$t('ui.snackbar.progressDuplicateAll', {nbDuplicated: nbDuplicated})
            this.dialog = false
          }
        },
        isSelected: function (p) {
          p.selected = !p.selected
          if (this.selected.length > 0) {
            document.addEventListener('keydown', (e) => {
              if (e.keyCode === 46) {
                this.deleteAll()
              }
            })
          }
        },
        toggleAll: function () {
          if (this.selected.length) this.selected = []
          else this.selected = this.items.slice()
        },
        confirmYes: function (event) {
          this.dialog = false
          //  alert(cc'itemID' + this.itemID)
          for (let i = 0; i < this.items.length; i++) {
            let entityName = this.items[i].name
            let entityStrlen = entityName.length
            if (entityStrlen > 50) {
              entityName = entityName.substr(0, 50) + '...'
            }
            if (this.itemID > 0 && this.itemID === this.items[i].id) {
              console.log('DeleteItem' + this.items[i])
              this.items[i].class = 'disable-row'
              // Une fois supprimé du serveur
              // this.items.splice(i, 1)

              // Afficher Snackbar
              this.snackbar = true
              this.snackbarText = this.$t('ui.snackbar.progressDelete', {name: entityName})

              // Deselect
              this.selected = []
            }
          }
        },
        confirmAllYes: function (event) {
          this.clickedAll = false
          console.log(this.selected)
          console.log('' + this.items)
          let nbDeleted = 0
          for (let i = this.items.length - 1; i >= 0; i--) {
            let itemNode = this.items[i]
            if (this.selected.indexOf(itemNode) !== -1) {
              console.log(' Suppr: ' + itemNode.name)
              itemNode.class = 'disable-row'
              // this.items.splice(i, 1)
              nbDeleted++
            }
          }
          this.selected = []
          if (nbDeleted > 0) {
            this.snackbar = true
            this.snackbarText = this.$t('ui.snackbar.progressDeleteAll', {nbDeleted: nbDeleted})
            this.dialog = false
          }
        },
        zoomFlyerAction: function (flyer, id) {
          let flyer_ = this.$helpers.host() + 'media/cache/resize/assets/flyers/' + flyer
          this.dialogfs = true
          this.itemImg = flyer_
          // this.$swal({ html: true, text: '<img src="' + flyer_ + '" />' })
          document.addEventListener('keydown', (e) => {
            if (this.dialogfs && e.keyCode === 27) {
              this.dialogfs = false
            }
          })
        },
        duplicateAction: function (item) {
          let cloneObj = this.clone(item)
          let entityName = item.name
          cloneObj.class = 'disable-row'
          cloneObj.name = entityName + '(copy)'
          this.items.push(cloneObj)
          this.snackbar = true
          this.snackbarText = this.$t('ui.snackbar.progressDuplicate', {name: entityName})
          //  this.$swal('copyAction ' + id)
        },
        clone: function (obj) {
          let outpurArr = []
          for (let i in obj) {
            outpurArr[i] = typeof (obj[i]) === 'object' ? this.clone(obj[i]) : obj[i]
          }
          return outpurArr
        },
        detailAction: function (id) {
          /* this.dialogfseditcreate = true
          this.toolbarTitleEditCreate = this.$t('ui.text.edition_item', {name: item.name})
          this.$bus.emit('detailActionID', item.id) */
          this.gohref('event_edit', id)
          // this.$swal('detailAction ' + id)
        },
        deleteAction: function (id) {
          this.dialog = true
          this.itemID = id
          document.addEventListener('keydown', (e) => {
            if (this.dialog && e.keyCode === 27) {
              this.dialog = false
            }
            if (this.dialog && e.keyCode === 13) {
              this.confirmYes()
            }
          })
        },
        externallinkAction: function (item) {
          let link = this.$helpers.host() + 'evenement_' + item.slug + '.html'
          this.$electron.shell.openExternal(link)
        },
        loadmore: function () {
          // Chargment
          this.loading = true
          let nexOffset = parseInt(this.endKey / this.limit)
          this.paginate(nexOffset)
        },
        paginate: function (offset) {
          // Si bas de page atteint
          if (this.items.length >= this.totalItems) {
            this.loading = false
            return
          }
          let urlevent = this.urlevent
          urlevent = urlevent.indexOf('?') >= 0 ? urlevent + '&' : urlevent + '?'
          let url = this.$helpers.host() + 'rest/' + urlevent + 'offset=' + offset
          this.nexOffset += url
          this.getUrl(url)
        },
        getUrl: function (url) {
          this.axios.get(url)
            .then(response => {
              this.errors = []
              this.loading = false
              if (response.data.results.length <= 0) {
                this.loading = true
                this.errors.push('No data')
                return false
              }
              this.$helpers.addItems(response.data.results, this.items)
              this.totalItems = response.data.total
              this.endKey = response.data.end_key
              this.limit = response.data.limit
            })
            .catch(e => {
              this.errors.push(e)
              this.toolbarTitle = this.$t('ui.text.errormsg.connexion')
            })
        },
        gohref: function (path) {
          if (arguments.length > 1) {
            this.$router.push({name: path, params: { id: arguments[1] }})
            return
          }
          this.$router.push(path)
        },
        scroll: function () {
          window.onscroll = ev => {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
              this.inH = window.innerHeight
              this.scY = window.scrollY
              this.ofH = document.body.offsetHeight
              this.loadmore()
            }
          }
        },
        showFilter: function (item) {
          let isCurrent = this.isCurrent(item)
          this.urlevent = item.key
          this.toolbarTitle = this.$t(item.l18n)
          if (!isCurrent) {
            this.load()
          }
        },
        showFilterAdvanced: function (item) {
          this.urlevent = null
          this.toolbarTitle = this.$t(item.l18n)
          this.showDialogFilter(item.key)
        },
        showDialogFilter: function (key) {
          switch (key) {
            case 'thematiqueFilter' :
              this.dialogThematiqueFilter = true
              break
            case 'artistesFilter' :
              this.dialogArtistesFilter = true
              break
            case 'datesFilter' :
              this.dialogDatesFilter = true
              break
            case 'localFilter' :
              this.dialogLocalFilter = true
              break
            case 'accessFilter' :
              this.dialogAccessFilter = true
              break
            case 'searchFilter' :
              this.dialogfsSearchFilter = true
              break
            case 'placesFilter' :
              this.dialogPlacesFilter = true
              break
          }
        },
        isCurrent: function (item) {
          return item.key === this.urlevent
        },
        fetch: function () {
          let url = this.$helpers.host() + 'rest/' + this.urlevent
          this.getUrl(url)
        },
        load: function () {
          this.items = []
          this.fetch()
          this.scroll()
        },
        getSelectedThematique: function () {
          alert(this.valuesThematiques.join(', '))
        },
        getSelectedArtistes: function () {
          let artistsIdArr = this.valuesArtistes
          alert(artistsIdArr.join(', '))
        },
        removeItemsUnselected: function () {
          let artistsIdArr = this.valuesArtistes
          let itemsArtistes = this.itemsArtistesFilters
          alert(artistsIdArr.length + ' vs ' + itemsArtistes.length)
        },
        loadArtistes: function (event) {
          console.log('loadArtistes')
          if (event.target.value.length > 2) {
            let urlSearch = this.$helpers.host() + 'rest/artistesdj?name=' + event.target.value
            this.axios.get(urlSearch)
              .then(response => {
                // this.itemsArtistesFilters = response.data.results
                this.$helpers.addItems(response.data.results, this.itemsArtistesFilters)
              })
              .catch(e => {
                this.errors.push(e)
              })
          }
        },
        customFilter: function (item, queryText, itemText) {
          const hasValue = val => val != null ? val : ''
          const text = hasValue(item.name)
          const query = hasValue(queryText)
          return text.toString()
            .toLowerCase()
            .indexOf(query.toString().toLowerCase()) > -1
        },
        chooseDate: function (item) {
          this.optDateLabel = item.title
          this.optDateKey = item.key
        },
        createNew: function () {
          /* this.dialogfseditcreate = true
          this.$bus.emit('resetFields') */
          this.gohref('/event/creer')
        }
      },
      mounted () {
        this.load()
      },
      created: function () {
        var thisExt = this
        this.$bus.$on('flatPickerMultiple', function (flatPickerMultiple) {
          thisExt.dateFlatPickerMultiple = flatPickerMultiple
        })
        this.$bus.$on('getSelectedArtistes', function (selectedArtistes) {
          thisExt.valuesArtistes = selectedArtistes
        })
        this.$bus.$on('getSelectedThematiques', function (selected) {
          thisExt.valuesThematiques = selected
        })
        this.$bus.$on('getSelectedAccess', function (selected) {
          thisExt.valuesAccess = selected
        })
        this.$bus.$on('getSelectedPlaces', function (selected) {
          thisExt.valuesPlaces = selected
        })
        this.$bus.$on('getSelectedLocal', function (selected) {
          thisExt.valuesLocal = selected
        })
        this.$bus.$on('setSnackbarMessage', function (txt) {
          thisExt.snackbar = true
          thisExt.snackbarText = txt
        })
      }
    }
</script>