<template>
  <v-layout row wrap>
    <v-toolbar color="red" fixed app :clipped-left="clipped">
      <v-toolbar-side-icon @click.native.stop="$bus.emit('toggleDrawer')"></v-toolbar-side-icon>
      <v-toolbar-title class="white--text" v-text="$route.params.id > 0 ? $t('detail.event.title', {name: txtName}) : $t('menu.event.creer')"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <!-- 1ere colonne -->
    <v-flex xs7>
      <!-- Erreurs du serveur -->
        <v-alert outline color="info" icon="info" :value="true" v-show="errorsServer.length > 0">
          <div v-for="error in errorsServer">
            Servor error <pre>{{ error }}</pre>
          </div> 
        </v-alert>
      <!-- Erreurs du serveur -->

      <!-- Loading CSS -->
      <div class="spinner" v-show="$route.params.id > 0 && loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <!-- Loading CSS -->

      <v-form ref="form"> 
        <!-- Nom Event -->
        <v-text-field
                v-model="txtName"
                :label="$t('ui.form.label.eventName')"
                :error-messages="errors.collect('name')"
                data-vv-name="name"
                required
        ></v-text-field>
        <!-- Switch cacher event -->
        <v-switch
                :label="$t('ui.form.label.eventHidden')"
                v-model="switchHidden"></v-switch>
        <!-- Switch Annuler event -->        
        <v-switch
                :label="$t('ui.form.label.eventCancelled')"
                color="red"
                v-model="switchCancelled"></v-switch>
        <!-- Date picker event -->        
        <v-layout row wrap>
          <date-flatpicker :valueDateSimple="valueDateSimple" :valueDateRange="valueDateRange" :valueDateMultiple="valueDateMultiple" :optDateKey="optDateKey" :optDateLabel="optDateLabel"></date-flatpicker> 
        </v-layout>
        <!-- Autocomplete thematique -->
        <v-layout row wrap>
          <v-flex xs10>
            <v-select
                :label="$t('ui.form.label.eventThematique')"
                :items="itemsThematique"
                item-text="name"
                item-value="id" 
                v-validate="'required'"
                v-model="valuesThematiques" 
        ></v-select> 
        </v-flex>
        <!-- Ajouter item -->
        <v-flex xs2>
          <v-tooltip left>
            <v-btn :disabled="valuesThematiques === ''" small fab icon slot="activator" @click="openDialogThematique(valuesThematiques)">
              <v-icon>edit</v-icon>
            </v-btn>
            <span>{{ $t('ui.tooltip.edit_item') }}</span>
          </v-tooltip>
          <v-tooltip left>
            <v-btn small fab icon slot="activator" @click="openDialogThematique">
              <v-icon>add</v-icon>
            </v-btn>
            <span>{{ $t('ui.tooltip.create_item') }}</span>
          </v-tooltip>
        </v-flex>
        <!-- /Ajouter item -->
      </v-layout>
        <!-- Autocomplete Access -->
        <v-layout row wrap>
          <v-flex xs10>
            <v-select
                :label="$t('ui.form.label.eventAccess')"
                :items="itemsAccess"
                item-text="name"
                item-value="id" 
                v-validate="'required'"
                v-model="valuesAccess" 
                @change="changeAccess"
        ></v-select> 
        </v-flex>
        <!-- Ajouter item -->
        <v-flex xs2>
          <v-tooltip left>
            <v-btn small :disabled="valuesAccess === ''" small fab icon slot="activator" @click="openDialogAccess(valuesAccess)">
              <v-icon>edit</v-icon>
            </v-btn>
            <span>{{ $t('ui.tooltip.edit_item') }}</span>
          </v-tooltip>
          <v-tooltip left>
            <v-btn small fab icon slot="activator" @click="openDialogAccess">
              <v-icon>add</v-icon>
            </v-btn>
            <span>{{ $t('ui.tooltip.create_item') }}</span>
          </v-tooltip>
        </v-flex>
        <!-- /Ajouter item -->
      </v-layout>
        <!-- Tarif afficher ou masquer -->
        <v-text-field
                v-show="!hideTarif"
                v-model="txtTarif"
                :label="$t('ui.form.label.eventPrice')"
                :error-messages="errors.collect('name')"
                data-vv-name="name"
                required
        ></v-text-field>
        <!-- Autocomplete lieux -->
        <v-layout row wrap>
          <v-flex xs11>
        <v-select
                :label="$t('ui.form.label.eventPlace')"
                :items="itemsPlaces"
                item-text="name"
                item-value="name" 
                v-validate="'required'"
                v-model="valuesPlaces" 
                @input.native="loadListPlaces"
                @change="setEmptyInput"
                chips autocomplete multiple hide-selected tags clearable
        >
          <template slot="selection" slot-scope="data">
            <v-chip label 
              :selected="data.selected"
              close
              @input="$helpers.removeChips(data.item, valuesPlaces)" 
            > 
            <v-avatar tile="false" v-if="typeof data.item.logo !== 'undefined'">
                <img :src="$helpers.host() + '/assets/flyers/' + data.item.logo">
            </v-avatar>
            {{ data.item.name }} 
            </v-chip>
          </template>
          <template slot="item" slot-scope="data">
            <div @click.stop="addSelectedItemPlaces(data.item)" class="width-100perc">
            <v-avatar tile="false"  v-if="typeof data.item.logo !== 'undefined'">
                <img :src="$helpers.host() + '/assets/flyers/' + data.item.logo">
            </v-avatar>
            {{ data.item.name  }}
            </div>
          </template>
        </v-select> 
        </v-flex>
        <!-- Ajouter item -->
        <v-flex xs1>
          <v-tooltip left>
            <v-btn fab icon slot="activator" @click="openDialogLieu">
              <v-icon>add</v-icon>
            </v-btn>
            <span>{{ $t('ui.tooltip.create_item') }}</span>
          </v-tooltip>
        </v-flex>
        <!-- /Ajouter item -->
      </v-layout>
        <v-expansion-panel v-if="valuesPlaces.length > 0">
          <v-expansion-panel-content >
          <div slot="header">
            <v-badge>
              <span slot="badge">{{ valuesPlaces.length }}</span>
              <span>{{ $t('ui.text.detail_lieux') }}</span>
            </v-badge>
          </div>
          <v-card>
            <v-card-text>
            <v-list two-line>
              <template v-for="(item, index) in valuesPlaces">
                <v-list-tile
                  avatar
                  ripple 
                  :key="item.id"
                > 
                  <v-avatar v-if="typeof item.logo !== 'undefined'">
                    <img :src="$helpers.host() + '/assets/flyers/' + item.logo">
                  </v-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>
                      {{ item.name }}
                    </v-list-tile-title>
                     <v-list-tile-sub-title class="text--primary">{{ typeof item.country !== 'undefined' ? $t('ui.text.prefixe_label.country', {name: item.country.name}) : '' }} {{ typeof item.region !== 'undefined' ? $t('ui.text.prefixe_label.region', {name: item.region.name}) : '' }}</v-list-tile-sub-title> 
                     <v-list-tile-sub-title>{{ typeof item.locality !== 'undefined' ? $t('ui.text.prefixe_label.locality', {name: item.locality.name}) : '' }}{{ typeof item.quartier !== 'undefined' ? $t('ui.text.prefixe_label.quartier', {name: item.quartier.name}) : '' }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-menu offset-x left bottom>
                      <v-btn
                              icon
                              slot="activator">
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                      <v-list>
                        <v-list-tile ripple @click="openDialogLieu(item.id)">
                          <v-list-tile-title>{{ $t('ui.text.itemsmenu.modifier') }}</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile ripple @click="$helpers.removeChips(item, valuesPlaces)">
                          <v-list-tile-title>{{ $t('ui.text.itemsmenu.removefromliste') }}</v-list-tile-title>
                        </v-list-tile>
                      </v-list>
                    </v-menu>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="index + 1 < valuesPlaces.length" :key="index"></v-divider>
              </template>
            </v-list></v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <br>
        <!-- Autocomplete Artistes -->
        <v-layout row wrap>
          <v-flex xs11>
          <v-select
                  :label="$t('ui.text.artiste_label')"
                  :items="itemsArtistes"
                  item-text="name"
                  item-value="name" 
                  v-validate="'required'"
                  v-model="valuesArtistes" 
                  hide-selected
                  @input.native="loadListArtistes"
                  @change="setEmptyInput"
                  chips autocomplete multiple tags clearable
          > 
          <template slot="selection" slot-scope="data">
            <v-chip
              :selected="data.selected"
              close
              @input="$helpers.removeChips(data.item, valuesArtistes)" 
            > 
            <v-avatar v-if="typeof data.item.photo !== 'undefined'">
                <img :src="$helpers.host() + '/assets/artistes_orig/' + data.item.photo">
            </v-avatar>
            {{ data.item.name }} (<em>{{ data.item.type }}</em>)
            </v-chip>
          </template>
          <template slot="item" slot-scope="data">
            <div @click.stop="addSelectedItemArtistes(data.item)" class="width-100perc">
            <v-avatar v-if="typeof data.item.photo !== 'undefined'">
                <img :src="$helpers.host() + '/assets/artistes_orig/' + data.item.photo">
            </v-avatar>
            {{ data.item.name  }}
            (<em>{{ data.item.type }}</em>)
            <v-divider></v-divider>
            </div>
          </template>
        </v-select> 
        </v-flex>
        <!-- Ajouter item -->
        <v-flex xs1>
          <v-tooltip left>
            <v-btn fab icon slot="activator" @click="dialogfsArtistes = true">
              <v-icon>add</v-icon>
            </v-btn>
            <span>{{ $t('ui.tooltip.create_item') }}</span>
          </v-tooltip>
        </v-flex>
        <!-- /Ajouter item -->
      </v-layout>
        <v-expansion-panel v-if="valuesArtistes.length > 0">
        <v-expansion-panel-content >
          <div slot="header">
            <v-badge>
              <span slot="badge">{{ valuesArtistes.length }}</span>
              <span>{{ $t('ui.text.detail_artistes') }}</span>
            </v-badge>
          </div>
          <v-card>
            <v-card-text>
            <v-list two-line>
              <template v-for="(item, index) in valuesArtistes">
                <v-list-tile
                  avatar
                  ripple 
                  :key="item.id"
                > 
                  <v-avatar v-if="typeof item.photo !== 'undefined'">
                    <img :src="$helpers.host() + '/assets/artistes_orig/' + item.photo">
                  </v-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>
                      {{ item.name }} (<em>{{ item.type }}</em>)
                    </v-list-tile-title> 
                    <v-list-tile-sub-title v-if="item.parent_artiste.length > 0">
                      (<template v-for="(childArtiste, index) in item.parent_artiste">
                        {{ childArtiste.name }}<span v-if="index + 1 < item.parent_artiste.length">, </span>
                      </template>)
                    </v-list-tile-sub-title> 
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-menu offset-x left bottom>
                      <v-btn
                              icon
                              slot="activator">
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                      <v-list>
                        <v-list-tile ripple >
                          <v-list-tile-title>{{ $t('ui.text.itemsmenu.modifier') }}</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile ripple @click="$helpers.removeChips(item, valuesArtistes)">
                          <v-list-tile-title>{{ $t('ui.text.itemsmenu.removefromliste') }}</v-list-tile-title>
                        </v-list-tile>
                      </v-list>
                    </v-menu>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="index + 1 < valuesArtistes.length" :key="index"></v-divider>
              </template>
            </v-list></v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <br>
        <!-- Autocomplete Fetes -->
        <v-layout row wrap>
          <v-flex xs11>
            <v-select
                :label="$t('ui.form.label.eventLocal')"
                :items="itemsLocal"
                item-text="name"
                item-value="id" 
                v-validate="'required'"
                v-model="valuesLocal" 
                hide-selected
                @input.native="loadListLocal"
                chips autocomplete multiple tags clearable
        >
          <template slot="selection" slot-scope="data">
            <v-chip
              label
              :selected="data.selected"
              close
              @input="$helpers.removeChips(data.item, valuesLocal)" 
            > <strong>{{ data.item.name  }}</strong><em> - {{ data.item.startdate  | moment('DD MMMM YYYY') }}<span v-if="data.item.startdate !== data.item.enddate"> - {{ data.item.enddate  | moment('DD MMMM YYYY')  }}</span></em>
            </v-chip>
          </template>
          <template slot="item" slot-scope="data">
            <div @click.stop="addSelectedItemLocal(data.item)" class="width-100perc">
            <strong>{{ data.item.name  }}</strong>
            <br><em>{{ data.item.startdate  | moment('DD MMMM YYYY') }}<span v-if="data.item.startdate !== data.item.enddate"> - {{ data.item.enddate  | moment('DD MMMM YYYY')  }}</span></em>
            <v-divider></v-divider>
          </div>
          </template>
        </v-select>
        </v-flex>
        <!-- Ajouter item -->
        <v-flex xs1>
          <v-tooltip left>
            <v-btn fab icon slot="activator" @click="dialogfsLocal = true">
              <v-icon>add</v-icon>
            </v-btn>
            <span>{{ $t('ui.tooltip.create_item') }}</span>
          </v-tooltip>
        </v-flex>
        <!-- /Ajouter item -->
      </v-layout>
         <v-expansion-panel v-if="valuesLocal.length > 0">
          <v-expansion-panel-content >
          <div slot="header">
            <v-badge>
              <span slot="badge">{{ valuesLocal.length }}</span>
              <span>{{ $t('ui.text.detail_fetes') }}</span>
            </v-badge>
          </div>
          <v-card>
            <v-card-text>
            <v-list two-line>
              <template v-for="(item, index) in valuesLocal">
                <v-list-tile
                  avatar
                  ripple 
                  :key="item.id"
                > 
                  <v-list-tile-content>
                    <v-list-tile-title>
                      <strong>{{ item.name }}</strong>
                      <em>{{ item.startdate  | moment('DD MMMM YYYY') }}<span v-if="item.startdate !== item.enddate"> - {{ item.enddate  | moment('DD MMMM YYYY')  }}</span></em>
                    </v-list-tile-title> 
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-menu offset-x left bottom>
                      <v-btn
                              icon
                              slot="activator">
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                      <v-list>
                        <v-list-tile ripple >
                          <v-list-tile-title>{{ $t('ui.text.itemsmenu.modifier') }}</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile ripple @click="$helpers.removeChips(item, valuesLocal)">
                          <v-list-tile-title>{{ $t('ui.text.itemsmenu.removefromliste') }}</v-list-tile-title>
                        </v-list-tile>
                      </v-list>
                    </v-menu>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="index + 1 < valuesLocal.length" :key="index"></v-divider>
              </template>
            </v-list></v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <br> 
      <!-- Autocomplete Related event -->
        <v-layout row wrap>
          <v-flex>
            <v-select
                :label="$t('ui.form.label.eventRelated')"
                :items="itemsRelated"
                item-text="name"
                item-value="id" 
                v-validate="'required'"
                v-model="valuesRelated" 
                hide-selected
                @input.native="loadListRelated"
                chips autocomplete multiple tags clearable
        >
          <template slot="selection" slot-scope="data">
            <v-chip
             label
              :selected="data.selected"
              close
              @input="$helpers.removeChips(data.item, valuesRelated)" 
            >
            <v-avatar v-if="typeof data.item.flyer !== 'undefined'">
                <img :src="$helpers.host() + '/media/cache/my_thumb_70/assets/flyers/' + data.item.flyer">
            </v-avatar>
            {{ data.item.name  }}
             <em>{{ data.item.dateUnique  | moment('DD MMMM YYYY') }} {{ data.item.dateDebut  | moment('DD MMMM YYYY') }}<span v-if="data.item.dateDebut !== data.item.dateFin"> - {{ data.item.dateFin  | moment('DD MMMM YYYY')  }}</span></em>
            </v-chip>
          </template>
          <template slot="item" slot-scope="data">
            <div @click.stop="addSelectedItemRelated(data.item)" class="width-100perc">
            <v-avatar tile="false" v-if="typeof data.item.flyer !== 'undefined'">
              <img :src="$helpers.host() + '/media/cache/my_thumb_70/assets/flyers/' + data.item.flyer">
            </v-avatar> 
            <strong>{{ data.item.name  }}</strong> 
            <em>{{ data.item.dateUnique  | moment('DD MMMM YYYY') }} {{ data.item.dateDebut  | moment('DD MMMM YYYY') }}<span v-if="data.item.dateDebut !== data.item.dateFin"> - {{ data.item.dateFin  | moment('DD MMMM YYYY')  }}</span></em>
            <v-divider></v-divider>
          </div>
          </template>
        </v-select>
        </v-flex>
      </v-layout>
         <v-expansion-panel v-if="valuesRelated.length > 0">
          <v-expansion-panel-content >
          <div slot="header">
            <v-badge>
              <span slot="badge">{{ valuesRelated.length }}</span>
              <span>{{ $t('ui.text.detail_related') }}</span>
            </v-badge>
          </div>
          <v-card>
            <v-card-text>
            <v-list two-line>
              <template v-for="(item, index) in valuesRelated">
                <v-list-tile
                  avatar
                  ripple 
                  :key="item.id"
                > 
                  <v-avatar tile="false" v-if="typeof item.flyer !== 'undefined'">
                    <img :src="$helpers.host() + '/media/cache/my_thumb_70/assets/flyers/' + item.flyer">
                  </v-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>
                      <strong>{{ item.name }}</strong>
                    </v-list-tile-title> 
                  </v-list-tile-content>
                  <v-list-tile-action>
                  <v-tooltip bottom>
                    <v-btn
                      @click="$helpers.removeChips(item, valuesRelated)"
                              icon
                              slot="activator">
                        <v-icon>clear</v-icon>
                      </v-btn>
                      <span>{{ $t('ui.text.itemsmenu.removefromliste') }}</span>
                  </v-tooltip>
                </v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="index + 1 < valuesRelated.length" :key="index"></v-divider>
              </template>
            </v-list></v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <br> 
        <!-- Textarea description -->
        <v-text-field
                :label="$t('ui.form.label.eventDescription')"
                multi-line
        ></v-text-field>
        <!-- Bouton Enregistrer -->  
        <v-btn v-shortkey="['ctrl','s']" @shortkey="submit" @click="submit">{{ $t('ui.button.save') }}</v-btn>
      </v-form>
<!-- /1ere colonne -->
      </v-flex>
      <v-flex xs5 class="pal">
      <!-- 2e colonne -->
      <!-- Bloc dropzones -->
      <vue-dropzone @vdropzone-removed-file="vremovedfile" @vdropzone-success="vsuccess" ref="myVueDropzone" id="dropzone"  :options="{dictRemoveFile: $t('ui.text.drop_remove_file'), dictMaxFilesExceeded: '{{maxFiles}}', dictDefaultMessage: $t('ui.text.drop_files_upload'), addRemoveLinks: true, url: $helpers.host() + 'rest/uploadflyers', paramName: dropzoneOptions.paramName, params: dropzoneOptions.params}"></vue-dropzone>  
      <!-- Bloc Coller image -->
      <br><div @paste="pasteimage" class="vue-dropzone dropzone dz-clickable"><div class="dz-default dz-message">
        <span v-if="!loading">{{ $t('ui.text.paste_clipboard') }}</span>
        <div v-if="loading">{{ $t('ui.text.loading') }}
          <!-- Loading CSS -->
          <div class="spinner" v-show="$route.params.id > 0 && loading">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <!-- Loading CSS -->
        </div>
        <!-- Image collée afficher -->
        <img  v-if="loading" :src="imageSrcPasted" style="width:100%;opacity:0.2" />
      </div></div>
      <!-- Liste des fichiers sauvegardées -->
      <v-list two-line>
        <template v-for="(item, index) in filesArr">
          <v-list-tile
            avatar
            ripple 
            :key="item.fileserver"
            @click="setMainFlyer(item.fileid, index)"
          > 
            <v-list-tile-content>
              <v-list-tile-title>{{ item.name }}
                <span v-if="!item.manuallyAdded"> - {{ item.size | formatFileSize }}</span>
                <span v-if="item.manuallyAdded"> - {{ $t('ui.text.pasted_image') }}</span>
              </v-list-tile-title> 
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon
                v-show="mainFlyerId === item.fileid"
                color="grey lighten-1"
              >check</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider v-if="index + 1 < filesArr.length" :key="index"></v-divider>
        </template>
      </v-list>
      <!-- /Liste des fichiers sauvegardées -->    
      <!-- 2e colonne -->
      </v-flex>
      <!-- Boite de dialog -->
      <v-dialog v-model="dialogfsThematique" fullscreen transition="dialog-bottom-transition" :overlay="false">
        <v-card>
          <v-toolbar dark color="primary">
                <v-tooltip bottom>
                  <v-btn slot="activator" icon v-shortkey="['esc']" @shortkey="dialogfsThematique = false" @click.native="dialogfsThematique = false" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                  <span>{{ $t('ui.tooltip.fermer') }}</span>
                </v-tooltip> 
                <v-toolbar-title class="white--text" v-text="toolbarTitleDialogThematique"></v-toolbar-title>
          </v-toolbar>
          <v-layout row wrap align-center class="backgroundBlack">
            <v-flex class="text-xs-center">
                <form-creer-thematique></form-creer-thematique>
            </v-flex>
          </v-layout>
        </v-card>
      </v-dialog>
      <!-- Boite de dialog -->

      <!-- Boite de dialog -->
      <v-dialog v-model="dialogfsAccess" fullscreen transition="dialog-bottom-transition" :overlay="false">
        <v-card>
          <v-toolbar dark color="primary">
                <v-tooltip bottom>
                  <v-btn slot="activator" icon v-shortkey="['esc']" @shortkey="dialogfsAccess = false" @click.native="dialogfsAccess = false" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                  <span>{{ $t('ui.tooltip.fermer') }}</span>
                </v-tooltip>
                <v-toolbar-title class="white--text" v-text="toolbarTitleDialogAccess"></v-toolbar-title> 
          </v-toolbar>
          <v-layout row wrap align-center class="backgroundBlack">
            <v-flex class="text-xs-center">
                <form-creer-access></form-creer-access>
            </v-flex>
          </v-layout>
        </v-card>
      </v-dialog>
      <!-- Boite de dialog -->

      <!-- Boite de dialog -->
      <v-dialog v-model="dialogfsPlaces" fullscreen transition="dialog-bottom-transition" :overlay="false">
        <v-card tile>
          <v-toolbar fixed dark color="primary">
                <v-tooltip bottom>
                  <v-btn slot="activator" icon v-shortkey="['esc']" @shortkey="dialogfsPlaces = false" @click.native="dialogfsPlaces = false" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                  <span>{{ $t('ui.tooltip.fermer') }}</span>
                </v-tooltip>
                <v-toolbar-title class="white--text" v-text="toolbarTitleDialogPlaces"></v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items> 
                    <v-btn dark v-shortkey="['del']" @shortkey="dialogfsPlaces = false" flat @click.native="dialogfsPlaces = false">
                      <v-icon>delete</v-icon>
                    </v-btn> 
                    <v-btn dark v-shortkey="['ctrl','s']" @shortkey="dialogfsPlaces = false" flat @click.native="dialogfsPlaces = false">
                      <v-icon>save</v-icon>
                    </v-btn> 
                </v-toolbar-items>
          </v-toolbar>
          <v-card-text class="mt4em">  
                <form-creer-lieu></form-creer-lieu>  
        </v-card-text>
        </v-card>
      </v-dialog>
      <!-- Boite de dialog -->

      <!-- Boite de dialog -->
      <v-dialog v-model="dialogfsArtistes" fullscreen transition="dialog-bottom-transition" :overlay="false">
        <v-card>
          <v-toolbar dark color="primary">
                <v-tooltip bottom>
                  <v-btn slot="activator" icon v-shortkey="['esc']" @shortkey="dialogfsArtistes = false" @click.native="dialogfsArtistes = false" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                  <span>{{ $t('ui.tooltip.fermer') }}</span>
                </v-tooltip> 
          </v-toolbar>
          <v-layout row wrap align-center class="backgroundBlack">
            <v-flex class="text-xs-center">
                <form-creer-artiste></form-creer-artiste>
            </v-flex>
          </v-layout>
        </v-card>
      </v-dialog>
      <!-- Boite de dialog -->

      <!-- Boite de dialog -->
      <v-dialog v-model="dialogfsLocal" fullscreen transition="dialog-bottom-transition" :overlay="false">
        <v-card>
          <v-toolbar dark color="primary">
                <v-tooltip bottom>
                  <v-btn slot="activator" icon v-shortkey="['esc']" @shortkey="dialogfsLocal = false" @click.native="dialogfsLocal = false" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                  <span>{{ $t('ui.tooltip.fermer') }}</span>
                </v-tooltip> 
          </v-toolbar>
          <v-layout row wrap align-center class="backgroundBlack">
            <v-flex class="text-xs-center">
                <form-creer-local></form-creer-local>
            </v-flex>
          </v-layout>
        </v-card>
      </v-dialog>
      <!-- Boite de dialog -->

      <!-- NOTIFS Snackbar -->  
      <v-snackbar
              :timeout="10000"
              :top="false"
              :bottom="true"
              :right="true"
              :left="false"
              :multi-line="false"
              :vertical="false"
              v-model="snackbar"
      >
          <span v-html="snackbarText"></span>
          <v-btn flat color="pink" @click.native="snackbar = false"> {{ $t('ui.button.close') }}</v-btn>
      </v-snackbar>
      <!-- NOTIFS -->

    </v-layout>

      
</template>

<style scoped>
  .mtl {
    margin-top: 1em
  } 
  .mt4em {
    margin-top: 4em
  }

</style>
<script>
    import DateFlatpicker from './Ui/DateFlatpicker'
    import FormCreerLieu from './Ui/FormAddOrUpdateLieux'
    import FormCreerArtiste from './Ui/FormAddOrUpdateArtiste'
    import FormCreerLocal from './Ui/FormAddOrUpdateLocal'
    import FormCreerThematique from './Ui/FormAddOrUpdateThematique'
    import FormCreerAccess from './Ui/FormAddOrUpdateAccess'
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.css'

    // URL Rest API
    const urlApiThematiques = 'rest/thematiques'
    const urlApiAccess = 'rest/entreetypes'
    const urlApiPlaces = 'rest/lieux?name='
    const urlApiArtistes = 'rest/artistesdj?name='
    const urlApiLocal = 'rest/local?name='
    const urlApiRelated = 'rest/event?name='

    // Store
    const Store = require('electron-store')
    const electronSettings = new Store()

    export default {
      components: {
        DateFlatpicker,
        FormCreerLieu,
        FormCreerArtiste,
        FormCreerLocal,
        FormCreerThematique,
        FormCreerAccess,
        vueDropzone: vue2Dropzone
      },
      $_veeValidate: {
        validator: 'new'
      },
      data: () => ({
        // Toolbar
        toolbarTitleDialogThematique: '',
        toolbarTitleDialogAccess: '',
        toolbarTitleDialogPlaces: '',
        // Afficher Notif snackbar
        snackbar: false,
        snackbarText: '',
        // DROPZONES param
        dropzoneOptions: {
          paramName: 'flyer',
          params: {
            'flyerurl': '',
            'oldfilename': ''
          }
        },
        // ID event
        eventId: 0,
        // Boite de dialog
        dialogfsThematique: false,
        dialogfsAccess: false,
        dialogfsPlaces: false,
        dialogfsArtistes: false,
        dialogfsLocal: false,
        // Afficher / masquer tarif
        hideTarif: true,
        // Checkbox annuler event
        switchCancelled: false,
        // Checkbox Cacher event
        switchHidden: false,
        // Loading ?
        loading: true,
        // Nom de l'event
        txtName: '',
        // Date event
        txtDate: '',
        // Tarif event
        txtTarif: '',
        // Label date par defaut
        optDateLabel: 'Date et heure',
        // Key date par defaut
        optDateKey: 'dateHour',
        defaultvalueThematique: null,
        defaultvalueAccess: null,
        menu: false,
        // Flyer principal
        mainFlyerId: '',
        imageSrcPasted: '',
        // Dates
        dateFlatPickerMultiple: '',
        dateChoosed: '',
        typeDate: '',
        // Items dans select
        itemsAccess: [],
        itemsThematique: [],
        itemsPlaces: [],
        itemsArtistes: [],
        itemsLocal: [],
        itemsRelated: [],
        // Values par defaut
        valuesArtistes: [],
        valuesThematiques: '',
        valuesAccess: '',
        valuesLocal: [],
        valuesPlaces: [],
        valuesRelated: [],
        filesArr: [],
        // Erreurs
        errorsServer: [],
        itemsChoiceDate: [
          { key: 'dateHour', title: 'Date et heure' },
          { key: 'betweenDates', title: 'Entre 2 dates' },
          { key: 'multiplesDates', title: 'Plusieurs dates' }
        ],
        checkbox: null,
        // Vee Validate
        dictionary: {
          attributes: {
            email: 'E-mail Address '
          },
          custom: {
            name: {
              required: () => 'Name can not be empty',
              max: 'The name field may not be greater than 10 characters'
              // custom messages
            },
            select: {
              required: 'Select field is required'
            }
          }
        }
      }),
      methods: {
        // Si on a copié une image
        pasteimage: function (event) {
          var thisExt = this
          // use event.originalEvent.clipboard for newer chrome versions
          let items = (event.clipboardData || event.originalEvent.clipboardData).items
          // find pasted image among pasted items
          let blob = null
          for (let i = 0; i < items.length; i++) {
            if (items[i].type.indexOf('image') === 0) {
              blob = items[i].getAsFile()
            }
          }
          // load image if there is a pasted image
          if (blob !== null) {
            let reader = new FileReader()
            reader.onload = function (event) {
              thisExt.imageSrcPasted = event.target.result
              thisExt.loading = true
              let urlUpload = thisExt.$helpers.host() + 'rest/uploadflyers'
              thisExt.axios.post(urlUpload, { flyer: 'noPicture', oldfilename: '', flyerurl: event.target.result })
                .then(function (response) {
                  let serverFilename = response.data.filename
                  let file = { size: 123, filename: serverFilename, name: serverFilename }
                  let url = thisExt.$helpers.host() + 'tmp/' + serverFilename
                  thisExt.$refs.myVueDropzone.manuallyAddFile(file, url)
                  thisExt.addFileDropZone(file, response.data)
                })
            }
            reader.readAsDataURL(blob)
          }
        },
        // Enregistrer le flyer comme principal
        setMainFlyer: function (id, index) {
          // alert(id + ' - ' + index)
          this.mainFlyerId = id
          this.filesArr[index].mainflyer = true
          for (let i = this.filesArr.length - 1; i >= 0; i--) {
            let fileprops = this.filesArr[i]
            if (fileprops.fileid !== id) {
              fileprops.mainflyer = false
            }
          }
        },
        // Supprimer un fichier
        vremovedfile: function (file, error, xhr) {
          this.filesArr.splice(this.filesArr.indexOf(file), 1)
        },
        // Ajouter un fichier a DROPZONE
        addFileDropZone: function (file, response) {
          file.fileid = response.filename
          file.fileserver = response.filename
          file.mainflyer = false
          this.loading = false
          // SI aucun flyer
          if (this.filesArr.length <= 0) {
            this.mainFlyerId = file.fileid
            file.mainflyer = true
          }
          this.filesArr.push(file)
          console.log(this.filesArr)
          this.$bus.emit('setSnackbarMessage', response.success)
        },
        vsuccess: function (file, response) {
          this.addFileDropZone(file, response)
        },
        // Recup ID
        getIdOfItems: function (rows) {
          let rowsId = []
          rows.forEach(function (row) {
            if (typeof row === 'object' && typeof row.id !== 'undefined') {
              rowsId.push(row.id)
            }
          })
          return rowsId
        },
        // Enregistrer form - CTRL+S
        submit () {
          this.$validator.validateAll().then((result) => {
            console.log(this.filesArr)
            // construire array des ids
            let artistesSaved = this.getIdOfItems(this.valuesArtistes)
            let placesSaved = this.getIdOfItems(this.valuesPlaces)
            let localSaved = this.getIdOfItems(this.valuesLocal)
            let relatedSaved = this.getIdOfItems(this.valuesRelated)
            let valueHidden = this.switchHidden ? '1' : '0'
            let valueCancelled = this.switchCancelled ? '1' : '0'
            let strRes = []
            strRes.push('eventId: ' + this.eventId)
            strRes.push('txtName: ' + this.txtName)
            strRes.push('switchHidden: ' + valueHidden)
            strRes.push('switchCancelled: ' + valueCancelled)
            strRes.push('dateChoosed: ' + this.dateChoosed)
            strRes.push('typeDate: ' + this.typeDate)
            strRes.push('valuesArtistes: ' + artistesSaved.join(', '))
            strRes.push('valuesThematiques: ' + this.valuesThematiques)
            strRes.push('valuesAccess: ' + this.valuesAccess)
            strRes.push('valuesLocal: ' + localSaved.join(', '))
            strRes.push('valuesPlaces: ' + placesSaved.join(', '))
            strRes.push('valuesRelated: ' + relatedSaved.join(', '))
            strRes.push('filesArr: ' + JSON.stringify(this.filesArr))
            alert('Form Submitted: ' + strRes.join('&'))
            if (result) {
              return false
            }
          })
        },
        chooseDate: function (item) {
          this.optDateLabel = item.title
          this.optDateKey = item.key
        },
        // Reset form
        resetFields: function () {
          let settingsHideTarif = electronSettings.get('hideTarif')
          // Reset champ name
          this.txtName = ''
          // Supprimer le tableau de l'ensemble des fichiers
          this.filesArr = []
          // Supprimer Tous les fichiers dans Dropzone
          this.$refs.myVueDropzone.removeAllFiles()
          // Reset Thematiques
          this.valuesThematiques = null
          // Reset Access
          this.valuesAccess = null
          // Reset Tarif
          this.hideTarif = this.valuesAccess !== settingsHideTarif
          this.$validator.reset()
          this.$refs.form.reset()
        },
        // Recup detail de l'event sur le serveur et remplir form
        showDetail: function (id) {
          this.eventId = id
          this.axios.get(this.$helpers.host() + 'rest/eventdetail?id=' + id)
            .then(response => {
              // Supprimer loading
              this.loading = false
              let item = response.data
              this.fillFields(item)
            })
            .catch(e => {
              this.errorsServer.push(e)
            })
        },
        // Remplir les champs du form
        fillFields: function (item) {
          let settingsHideTarif = electronSettings.get('hideTarif')
          // Nom de l'event
          let name = typeof item.name !== 'undefined' ? item.name : ''
          this.txtName = name
          // thematique de l'event
          let thematiqueArr = typeof item.eventtype !== 'undefined' ? item.eventtype : []
          let thematique = thematiqueArr.length > 0 ? thematiqueArr[0].id : null
          this.valuesThematiques = thematique
          // Acces de l'event
          let acces = typeof item.entreetype !== 'undefined' ? item.entreetype.id : null
          this.valuesAccess = acces
          // Afficher tarif si type d'acces === payant
          this.hideTarif = acces !== settingsHideTarif
          // Tarif event
          let prixenclair = typeof item.prixenclair !== 'undefined' ? item.prixenclair : ''
          this.txtTarif = prixenclair
          // Cacher event
          let hidden = typeof item.hidden !== 'undefined' ? item.hidden : false
          this.switchHidden = hidden
          // Annuler event
          let cancelledAt = typeof item.cancelled_at !== 'undefined' ? item.cancelled_at : false
          this.switchCancelled = cancelledAt
          // Lieux
          let lieux = typeof item.eventlieu !== 'undefined' ? [item.eventlieu] : []
          let eventmultilieu = typeof item.eventmultilieu !== 'undefined' ? item.eventmultilieu : []
          eventmultilieu.forEach(function (r) {
            lieux.push(r)
          })
          this.valuesPlaces = lieux
          // Artistes
          let artistes = typeof item._event_artistes_dj_organisateurs !== 'undefined' ? item._event_artistes_dj_organisateurs : []
          this.valuesArtistes = artistes
          // Fetes
          let fetes = typeof item.eventlocal !== 'undefined' ? item.eventlocal : []
          this.valuesLocal = fetes
          // Related
          let items = typeof item._event_related !== 'undefined' ? item._event_related : []
          this.valuesRelated = items
          // Flyer
          let serverFilename = item.flyer
          let file = { size: 123, filename: serverFilename, name: serverFilename }
          let url = this.$helpers.host() + 'assets/flyers/' + serverFilename
          this.$refs.myVueDropzone.manuallyAddFile(file, url)
          this.addFileDropZone(file, item)
          // Multiples Flyers
          let multipleFlyers = item._event_flyers
          this.addMultipleFlyers(multipleFlyers)
          // Dates
          let optDate = item.optdateclair
          let date = this.$helpers.convertDateFlatpicker(item)
          this.dateChoosed = date
          this.typeDate = typeof optDate === 'undefined' ? '' : optDate
          switch (optDate) {
            case 'rangedate' :
              this.optDateKey = 'betweenDates'
              this.optDateLabel = this.$t('ui.text.date_range')
              this.valueDateRange = date
              break
            case 'multiplesdate' :
              this.optDateKey = 'multiplesDates'
              this.optDateLabel = this.$t('ui.text.date_multiple')
              this.valueDateMultiple = date
              break
            default :
              this.optDateKey = 'dateHour'
              this.optDateLabel = this.$t('ui.text.date_hour')
              this.valueDateSimple = date
              break
          }
        },
        addMultipleFlyers: function (flyers) {
          console.log(flyers)
          if (flyers.length < 0) {
            return false
          }
          var thisExt = this
          flyers.forEach(function (item) {
            let serverFilename = item.image
            let file = { size: 123, filename: serverFilename, name: serverFilename }
            let url = thisExt.$helpers.host() + 'assets/flyers/' + serverFilename
            thisExt.$refs.myVueDropzone.manuallyAddFile(file, url)
            thisExt.addFileDropZone(file, file)
          })
        },
        // Charger la liste des thematiques
        loadListThematiques: function () {
          this.axios.get(this.$helpers.host() + urlApiThematiques)
            .then(response => {
              this.$helpers.addItems(response.data.results, this.itemsThematique)
            })
            .catch(e => {
              this.errors.push(e)
            })
        },
        // Charger la liste des types d'acces
        loadListAccess: function () {
          this.axios.get(this.$helpers.host() + urlApiAccess)
            .then(response => {
              this.$helpers.addItems(response.data.results, this.itemsAccess)
            })
            .catch(e => {
              this.errors.push(e)
            })
        },
        // Charger la liste des Lieux
        loadListPlaces: function (event) {
          let valueField = event.target.value
          if (valueField.length > 2) {
            let urlSearch = this.$helpers.host() + urlApiPlaces + valueField
            this.axios.get(urlSearch)
              .then(response => {
                // this.$helpers.addItems(response.data.lieu, this.itemsPlaces)
                this.itemsPlaces = response.data.lieu
              })
              .catch(e => {
                this.errors.push(e)
              })
          }
        },
        // Charger la liste des Artistes
        loadListArtistes: function (event) {
          let valueField = event.target.value
          if (valueField.length > 2) {
            let urlSearch = this.$helpers.host() + urlApiArtistes + valueField
            this.axios.get(urlSearch)
              .then(response => {
                this.itemsArtistes = response.data.results
              })
              .catch(e => {
                this.errors.push(e)
              })
          }
        },
        // Charger la liste des Fetes
        loadListLocal: function (event) {
          let valueField = event.target.value
          if (valueField.length > 2) {
            let urlSearch = this.$helpers.host() + urlApiLocal + valueField
            this.axios.get(urlSearch)
              .then(response => {
                this.itemsLocal = response.data
              })
              .catch(e => {
                this.errors.push(e)
              })
          }
        },
        // Charger la liste des Event related
        loadListRelated: function (event) {
          let valueField = event.target.value
          if (valueField.length > 2) {
            let urlSearch = this.$helpers.host() + urlApiRelated + valueField
            this.axios.get(urlSearch)
              .then(response => {
                this.itemsRelated = response.data
              })
              .catch(e => {
                this.errors.push(e)
              })
          }
        },
        // Effacer les objets inutiles
        cleanItems: function (rows) {
          let rowsNew = []
          rows.forEach(function (row) {
            if (typeof row === 'object' && typeof row.id !== 'undefined') {
              rowsNew.push(row)
            }
          })
          return rowsNew
        },
        // Creer objet Lieux a ajouter dans select
        addSelectedItemPlaces: function (v) {
          var thisExt = this
          setTimeout(function () {
            let newRow = {}
            newRow.id = v.id
            newRow.name = v.name
            newRow.type = v.type
            newRow.logo = v.logo
            // thisExt.valuesPlaces.push(newRow)
            thisExt.valuesPlaces.push(v)
            thisExt.itemsPlaces = []
            setTimeout(function () {
              thisExt.itemsPlaces = thisExt.cleanItems(thisExt.itemsPlaces)
            }, 1000)
          }, 200)
        },
        // Creer objet artiste a ajouter dans select
        addSelectedItemArtistes: function (v) {
          // v.target.value = ''
          var thisExt = this
          setTimeout(function () {
            // alert(v.name + ' - ' + v.id)
            let newRow = {}
            newRow.id = v.id
            newRow.name = v.name
            newRow.type = v.type
            newRow.photo = v.photo
            thisExt.valuesArtistes.push(newRow)
            thisExt.itemsArtistes = []
            setTimeout(function () {
              thisExt.valuesArtistes = thisExt.cleanItems(thisExt.valuesArtistes)
            }, 1000)
          }, 200)
        },
        // Creer objet Fetes a ajouter dans select
        addSelectedItemLocal: function (v) {
          var thisExt = this
          setTimeout(function () {
            let newRow = {}
            newRow.id = v.id
            newRow.name = v.name
            newRow.startdate = v.startdate
            newRow.enddate = v.enddate
            thisExt.valuesLocal.push(newRow)
            thisExt.itemsLocal = []
            setTimeout(function () {
              thisExt.itemsLocal = thisExt.cleanItems(thisExt.itemsLocal)
            }, 1000)
          }, 200)
        },
        // Creer objet Related event a ajouter dans select
        addSelectedItemRelated: function (v) {
          var thisExt = this
          setTimeout(function () {
            let newRow = {}
            newRow.id = v.id
            newRow.name = v.name
            newRow.flyer = v.flyer
            newRow.dateUnique = v.dateUnique
            newRow.dateDebut = v.dateDebut
            newRow.dateFin = v.dateFin
            thisExt.valuesRelated.push(newRow)
            thisExt.itemsRelated = []
            setTimeout(function () {
              thisExt.itemsRelated = thisExt.cleanItems(thisExt.itemsRelated)
            }, 1000)
          }, 1000)
        },
        // Effacer le champ texte dans v-select et donner le focus
        setEmptyInput: function (v) {
          setTimeout(function () {
            v.target.value = ''
            v.target.focus()
          }, 1000)
        },
        // event OnChange select access
        changeAccess: function (v) {
          let settingsHideTarif = electronSettings.get('hideTarif')
          console.log('settingsHideTarif: ' + settingsHideTarif)
          if (v === settingsHideTarif) {
            // Cacher tarif
            this.hideTarif = false
          }
          if (v !== settingsHideTarif) {
            // Cacher tarif
            this.hideTarif = true
          }
        },
        // Ouvrir dialog Ajout/Modification Lieu
        openDialogLieu: function () {
          this.toolbarTitleDialogPlaces = this.$t('menu.event.creer')
          let itemId = 0
          // En mode edition
          if (arguments.length > 0 && typeof arguments[0] === 'number' && arguments[0] > 0) {
            itemId = arguments[0]
          }
          this.dialogfsPlaces = true
          this.$bus.emit('opener', 'eventCreateEditView')
          // Si id passe en param
          if (itemId > 0) {
            this.$bus.emit('itemId', itemId)
          }
        },
        // Ouvrir dialog ajout thematique
        openDialogThematique: function () {
          this.toolbarTitleDialogThematique = this.$t('menu.event.creer')
          let itemId = 0
          if (arguments.length > 0 && typeof arguments[0] === 'number' && arguments[0] > 0) {
            itemId = arguments[0]
          }
          this.dialogfsThematique = true
          this.$bus.emit('opener', 'eventCreateEditView')
          // Si id passe en param
          if (itemId > 0) {
            this.$bus.emit('itemId', itemId)
            // Get objet in list
            let itemRow = this.$helpers.getItemInList(itemId, this.itemsThematique)
            console.log('row.id itemRow: ' + JSON.stringify(itemRow))
            this.$bus.emit('itemRow', itemRow)
          }
        },
        // Ouvrir dialog ajout/Modifier/Suppression access
        openDialogAccess: function () {
          this.toolbarTitleDialogAccess = this.$t('menu.event.creer')
          let itemId = 0
          if (arguments.length > 0 && typeof arguments[0] === 'number' && arguments[0] > 0) {
            itemId = arguments[0]
          }
          this.dialogfsAccess = true
          this.$bus.emit('opener', 'eventCreateEditView')
          // Si id passe en param
          if (itemId > 0) {
            this.$bus.emit('itemId', itemId)
            // Get objet in list
            let itemRow = this.$helpers.getItemInList(itemId, this.itemsAccess)
            this.$bus.emit('itemRow', itemRow)
          }
        },
        checkAccess: function (id) {
          this.hideTarif = id !== electronSettings.get('hideTarif')
        }
      },
      watch: {
        hideTarif: function () {
          return electronSettings.get('hideTarif') === this.valuesAccess
        }
      },
      // Au chargement
      mounted () {
        // Si mode detail
        if (this.$route.params.id > 0) {
          let eventId = this.$route.params.id
          this.showDetail(eventId)
        }
        // Charger liste thematiques
        this.loadListThematiques()
        // Charger liste Access
        this.loadListAccess()
        // Langue francaise pour la date
        this.$moment.locale('fr')
      },
      // BUS EVENT
      created: function () {
        this.toolbarTitleDialogThematique = this.$t('menu.event.creer')
        var thisExt = this
        // Flatpicker
        this.$bus.$on('flatPickerMultiple', function (date) {
          thisExt.dateChoosed = date
          thisExt.valueDateMultiple = date
          thisExt.typeDate = 'multiple'
        })
        this.$bus.$on('flatPickerRange', function (date) {
          thisExt.dateChoosed = date
          thisExt.valueDateRange = date
          thisExt.typeDate = 'range'
        })
        this.$bus.$on('flatPickerSimple', function (date) {
          thisExt.dateChoosed = date
          thisExt.valueDateSimple = date
          thisExt.typeDate = 'simple'
        })
        // Afficher Snackbar
        this.$bus.$on('setSnackbar', function (txt) {
          thisExt.snackbar = true
          thisExt.snackbarText = txt
        })
        // Appel fermeture boite de dialog
        this.$bus.$on('setClosedDialogfsThemathique', function (b) {
          thisExt.dialogfsThematique = b
        })
        // Appel Ajout thematique
        this.$bus.$on('addItemThemathique', function (item) {
          thisExt.itemsThematique.push(item)
          // Selectionner par defaut
          thisExt.valuesThematiques = item.id
        })
        // Appel Update thematique
        this.$bus.$on('updateItemThemathique', function (item) {
          let itemid = item.id
          let itemName = item.name
          thisExt.itemsThematique.forEach(function (r) {
            if (itemid === r.id) {
              r.name = itemName
            }
          })
          // Selectionner par defaut
          thisExt.valuesThematiques = itemid
        })
        // Appel Delete thematique
        this.$bus.$on('deletedItemThemathique', function (itemid) {
          let i = 0
          thisExt.itemsThematique.forEach(function (r) {
            if (itemid === r.id) {
              thisExt.itemsThematique.splice(i, 1)
            }
            i++
          })
          // Selectionner par defaut
          thisExt.valuesThematiques = ''
        })
        // Modifier toolbar
        this.$bus.$on('setToolbarDialogThematique', function (txt) {
          thisExt.toolbarTitleDialogThematique = txt
        })
        // ---------------- Access ----------------------- //
        // Appel fermeture boite de dialog Access
        this.$bus.$on('setClosedDialogfsAccess', function (obj) {
          if (typeof obj.b === 'boolean') {
            thisExt.dialogfsAccess = obj.b
          }
          if (typeof obj.id !== 'undefined') {
            thisExt.checkAccess(obj.id)
          }
        })
        // Appel Ajout thematique
        this.$bus.$on('addItemAccess', function (item) {
          thisExt.itemsAccess.push(item)
          // Selectionner par defaut
          thisExt.valuesAccess = item.id
        })
        // Appel Update thematique
        this.$bus.$on('updateItemAccess', function (item) {
          let itemid = item.id
          let itemName = item.name
          thisExt.itemsAccess.forEach(function (r) {
            if (itemid === r.id) {
              r.name = itemName
            }
          })
          // Selectionner par defaut
          thisExt.valuesAccess = itemid
        })
        // Appel Delete thematique
        this.$bus.$on('deletedItemAccess', function (itemid) {
          let i = 0
          thisExt.itemsAccess.forEach(function (r) {
            if (itemid === r.id) {
              thisExt.itemsAccess.splice(i, 1)
            }
            i++
          })
          // Selectionner par defaut
          thisExt.valuesAccess = ''
        })
        // Modifier toolbar
        this.$bus.$on('setToolbarDialogAccess', function (txt) {
          thisExt.toolbarTitleDialogAccess = txt
        })
        // ---------------- Access ----------------------- //
        // ---------------- Lieu Places----------------------- //
        // Appel fermeture boite de dialog
        this.$bus.$on('setClosedDialogfsPlaces', function (obj) {
          if (typeof obj.b === 'boolean') {
            thisExt.dialogfsPlaces = obj.b
          }
        })
        // Appel Ajout
        this.$bus.$on('addItemPlaces', function (item) {
          thisExt.itemsPlaces.push(item)
          // Selectionner par defaut
          thisExt.valuesPlaces = item.id
        })
        // Appel Update
        this.$bus.$on('updateItemPlaces', function (item) {
          let itemid = item.id
          // alert('itemid: ' + itemid)
          this.axios.get(this.$helpers.host() + 'rest/lieux?id=' + itemid)
            .then(response => {
              let item = response.data
              let objEntity = item[0]
              thisExt.valuesPlaces.forEach(function (r) {
                if (itemid === r.id) {
                  r.name = objEntity.name
                  if (typeof objEntity.country !== 'undefined' && typeof objEntity.country.name !== 'undefined') {
                    r.country.name = objEntity.country.name
                  }
                  if (typeof objEntity.region !== 'undefined' && typeof objEntity.region.name !== 'undefined') {
                    r.region.name = objEntity.region.name
                  }
                  if (typeof objEntity.locality !== 'undefined' && typeof objEntity.locality.name !== 'undefined') {
                    r.locality.name = objEntity.locality.name
                  }
                  if (typeof objEntity.quartier !== 'undefined' && typeof objEntity.quartier.name !== 'undefined') {
                    r.quartier.name = objEntity.quartier.name
                  }
                }
              })
            })
            .catch(e => {})
        })
        // Appel Delete
        this.$bus.$on('deletedItemPlaces', function (itemid) {
          let i = 0
          thisExt.valuesPlaces.forEach(function (r) {
            if (itemid === r.id) {
              thisExt.valuesPlaces.splice(i, 1)
            }
            i++
          })
          // DeSelectionner par defaut
          thisExt.valuesPlaces = ''
        })
        // Modifier toolbar
        this.$bus.$on('setToolbarDialogPlaces', function (txt) {
          thisExt.toolbarTitleDialogPlaces = txt
        })
        // ---------------- Lieu ----------------------- //
      }
    }
</script>