<template>
  <v-layout row wrap justify-center id="wrapper">
    <v-flex xs10 class="mt-3">
      <!-- {{ $route.params.id }} -->
      {{ $t('ui.form.label.lieuGps') }} : {{ lat }}, {{ lng }}
      <v-btn v-shortkey="['ctrl','s']" @click="sendGpsData" :disabled="stateBtnSetGps">{{ $t('ui.button.save') }}</v-btn>
      <l-map :zoom="zoom" :center="center">
        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        <l-marker :lat-lng="marker" draggable="true" @dragend="alertmarker" @click="alertmarker">
          <l-popup :content="textPopup"></l-popup>
        </l-marker>
        <l-icon-default :image-path="path"></l-icon-default>
      </l-map>
    </v-flex>
  </v-layout>
</template>

<script>
  /* eslint-disable */
  import { LMap, LTileLayer, LMarker, LIconDefault, LPopup } from 'vue2-leaflet'
  import 'leaflet/dist/leaflet.css'

  // URL Rest API
  const urlSaveApi = 'rest/savelieus'

  export default {
    components: {
      LMap,
      LTileLayer,
      LMarker,
      LIconDefault,
      LPopup
    },
    data: () => ({
      // Leaflet
      zoom:13,
      stateBtnSetGps:true,
      center: L.latLng(47.413220, -1.219482),
      url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      marker: L.latLng(47.413220, -1.219482),
      path: "/images/",
      textPopup: "Texte dans popup",
      lng: 47.413220,
      lat: -1.219482,
      gpsCoord: null
    }),
    methods: {
      alertmarker: function (item) {
        this.lat = item.target._latlng.lat
        this.lng = item.target._latlng.lng
        this.stateBtnSetGps = false
      },
      showDetail: function (id) {
        this.axios.get(this.$helpers.host() + 'rest/lieux?id=' + id)
          .then(response => {
            let item = response.data
            this.fillFields(item[0])
          })
          .catch(e => {
            this.errorsServer.push(e)
          })
      },
      // Remplir les champs du form
      fillFields: function (item) {
        // Nom 
        let name = typeof item.name !== 'undefined' ? item.name : ''

        // GPS 
        let gps = typeof item.gps !== 'undefined' ? item.gps : ''

        this.textPopup = name

        if (gps !== '') {
          this.setGpsData(gps)
        }
      },
      setGpsData (data) {
        // console.log('sendGpsData inside MapView: ' + data)
        if (data === '') {
          return false;
        }
        let aGpsData = data.split(',')
        if (aGpsData.length !== 2) {
          return false;
        }
        let iLat = aGpsData[0];
        let iLng = aGpsData[1];

        this.center = L.latLng(iLat,iLng)
        this.marker = L.latLng(iLat,iLng)

      },
      sendGpsData: function () {
        var thisExt = this
        let gpsCoord = this.lat + ',' + this.lng
        this.gpsCoord = gpsCoord
        this.submit()
        setTimeout(function () {
          thisExt.$electron.ipcRenderer.send('closePopup')
        }, 500)
      },
      // Enregistrer form - CTRL+S
      submit () { 
        let dataParams = {
          data: {
            gps: this.gpsCoord,
            id: this.$route.params.id
          }
        }
        // Enregistrer sur le serveur
        this.axios.post(this.$helpers.host() + urlSaveApi, dataParams)
          .then(response => {})
          .catch(e => {
            this.errors.push(e)
          }) 
      },
    },
    // Au chargement
    mounted () {
      this.showDetail(this.$route.params.id)
    },
    created: function () {}

  }
</script>

<style scoped>
</style>
