<template>
  <v-layout row wrap justify-center id="wrapper">
    <v-flex xs10 class="mt-3">
      <l-map :zoom="zoom" :center="center">
        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        <l-marker :lat-lng="marker"></l-marker>
      </l-map>
    </v-flex>
  </v-layout>
</template>

<script>
  /* eslint-disable */
  import { LMap, LTileLayer, LMarker } from 'vue2-leaflet'
  import 'leaflet/dist/leaflet.css'

  export default {
    components: {
      LMap,
      LTileLayer,
      LMarker
    },
    data: () => ({
      // Leaflet
      zoom:13,
      center: L.latLng(47.413220, -1.219482),
      url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      marker: L.latLng(47.413220, -1.219482)
    })
  }
</script>

<style scoped>
</style>
