<template>
  <v-layout row wrap>
    <v-toolbar color="red" fixed app :clipped-left="clipped">
      <v-toolbar-side-icon @click.native.stop="$bus.emit('toggleDrawer')"></v-toolbar-side-icon>
      <v-toolbar-title class="white--text" v-text="$route.params.id > 0 ? $t('detail.event.title', {name: txtName}) : $t('menu.event.creer')"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-flex>
      <form-creer-thematique></form-creer-thematique>
    </v-flex>

    <!-- NOTIFS Snackbar -->  
      <v-snackbar
              :timeout="10000"
              :top="false"
              :bottom="true"
              :right="true"
              :left="false"
              :multi-line="false"
              :vertical="false"
              v-model="snackbar"
      >
          <span v-html="snackbarText"></span>
          <v-btn flat color="pink" @click.native="snackbar = false"> {{ $t('ui.button.close') }}</v-btn>
      </v-snackbar>
      <!-- NOTIFS -->

  </v-layout>
</template>

<style scoped>

</style>
<script>
    import FormCreerThematique from './Ui/FormAddOrUpdateThematique'

    export default {
      components: {
        FormCreerThematique
      },
      // Variables
      data: () => ({
        // Afficher Notif snackbar
        snackbar: false,
        snackbarText: ''
      }),
      // Liste des functions
      methods: {},
      // Au chargement
      mounted () {},
      // BUS EVENT
      created: function () {
        var thisExt = this
        // Afficher Snackbar
        this.$bus.$on('setSnackbar', function (txt) {
          thisExt.snackbar = true
          thisExt.snackbarText = txt
        })
      }
    }
</script>