<template>
  <v-layout row wrap justify-center id="wrapper">
    <!-- Barre d'outils -->
      <v-toolbar color="red" fixed app :clipped-left="clipped" >
          <v-toolbar-side-icon @click.native.stop="$bus.emit('toggleDrawer')"></v-toolbar-side-icon>

          <v-toolbar-title class="white--text" v-text="toolbarTitle"></v-toolbar-title>
          <v-spacer></v-spacer>
           
           
      </v-toolbar>
    <v-flex xs10 class="mt-4">
      <v-card>
    <v-card-title class="headline">
      Paramètres 
    </v-card-title>
    <v-divider></v-divider>
    <v-layout row wrap class="pal">
      <v-flex xs12 sm12 md12>
        <form>
          <!-- Nom Event -->
          <v-text-field
            autofocus
            v-validate="'required|url'"
            v-model="name"
            :label="$t('ui.form.label.settings.host')"
            :error-messages="errors.collect('name')"
            data-vv-name="name"
            required
            @input="saveParam($event, 'host')"
          ></v-text-field>
          <!-- Limite generique -->
          <v-text-field
            type="number"
            autofocus
            v-validate="'numeric|max_value:100'"
            v-model="limit"
            :label="$t('ui.form.label.settings.limit')"
            :error-messages="errors.collect('limit')"
            data-vv-name="limit"
            required
            @input="saveParam($event, 'limit')"
          ></v-text-field>
          <!-- Afficher tarif si selectionne -->
          <v-select
                :label="$t('ui.form.label.settings.access')"
                :items="itemsAccess"
                item-text="name"
                item-value="id"
                v-model="valuesAccess" 
                @change="changeAccess" 
        ></v-select>
        <!-- Switch Afficher notifications -->        
        <v-switch
                :label="$t('ui.form.label.settings.notification')"
                color="blue"
                @change="changeNotification"
                v-model="showNotification"></v-switch>
        </form>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="pa-3">
      <v-flex xs12 sm6 md4 class="item">
        <div class="name">Vue.js:</div>
        <div class="value">{{ vue }}</div>
      </v-flex>
      <v-flex xs12 sm6 md4 class="item">
        <div class="name">Electron:</div>
        <div class="value">{{ electron }}</div>
      </v-flex>
      <v-flex xs12 sm6 md4 class="item">
        <div class="name">Node:</div>
        <div class="value">{{ node }}</div>
      </v-flex>
      <v-flex xs12 sm6 md4 class="item">
        <div class="name">Platform:</div>
        <div class="value">{{ platform }}</div>
      </v-flex>
    </v-layout>
 

  </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  /* eslint no-eval: 0 */
  import _ from 'lodash'
  // Store
  const Store = require('electron-store')
  const electronSettings = new Store()

  // URL Rest API
  const urlApiAccess = 'rest/entreetypes'

  export default {
    $_veeValidate: {
      validator: 'new'
    },
    data () {
      return {
        paramPath: electronSettings.path,
        host: electronSettings.get('host'),
        electron: process.versions['atom-shell'],
        node: process.versions.node,
        platform: require('os').platform(),
        vue: require('vue/package.json').version,
        packages: [],
        limit: null,
        // Items dans select
        itemsAccess: [],
        valuesAccess: electronSettings.get('hideTarif'),
        showNotification: electronSettings.get('showNotification'),
        toolbarTitle: this.$t('menu.settings')
      }
    },
    methods: {
      // Enregistrer form - CTRL+S
      submit: function () {
        this.$validator.validateAll().then((result) => {
          if (!result) {
            return false
          }
          // alert('valueField: #' + this.valuesAccess)
          electronSettings.set('host', this.name)
          electronSettings.set('limit', this.limit)
          electronSettings.set('hideTarif', this.valuesAccess)
          electronSettings.set('showNotification', this.showNotification)

          // notif
          this.$bus.emit('notification', this.$t('menu.settings'), this.$t('ui.text.saved'))
        })
      },
      getDictionnary: function () {
        let emptyError = this.$t('ui.form.error.empty')
        let urlError = this.$t('ui.form.error.url')
        let lengthNumericError = this.$t('ui.form.error.numeric_length')
        let maxvalueNumericError = this.$t('ui.form.error.numeric_max_value')
        let dictionary = {
          custom: {
            name: {
              required: () => emptyError,
              url: () => urlError
            },
            limit: {
              required: () => emptyError,
              length: () => lengthNumericError,
              max_value: () => maxvalueNumericError
            }
          }
        }
        return dictionary
      },
      // Remplir les champs du form
      fillFields: function () {
        this.name = electronSettings.get('host')
        this.limit = electronSettings.get('limit')
        this.showNotification = electronSettings.get('showNotification')
      },
      // Charger la liste des types d'acces
      loadListAccess: function () {
        this.axios.get(this.$helpers.host() + urlApiAccess)
          .then(response => {
            this.$helpers.addItems(response.data.results, this.itemsAccess)
          })
          .catch(e => {
            this.errors.push(e)
          })
      },
      // event OnChange select access
      changeAccess: _.debounce(function (v) {
        this.submit()
      }, 1000),
      // event OnChange Notif
      changeNotification: _.debounce(function (v) {
        this.submit()
      }, 1000),
      saveParam: _.debounce(function (valueField, fieldName) {
        valueField = valueField.trim()
        // Si valeur vide
        if (_.isEmpty(valueField)) {
          return false
        }
        this.submit()
      }, 2000)
    },
    // Au chargement
    mounted () {
      this.$validator.localize('fr', this.getDictionnary())
      // Charger liste Access
      // this.loadListAccess()
      // Remplir les champs
      this.fillFields()
    }
  }
</script>

<style scoped>
  .centered
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo
  {
    max-width: 100%;
  }

  .link-btn
  {
    width: 150px;
  }
  .item
  {
    text-align: center;
  }

  .name
  {
    display: inline;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .value
  {
    display: inline;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    padding-left: 5px;
  }
</style>
