<template>
    <div>
      <v-select
                :label="labelTitle"
                :items="itemsFilters"
                item-text="name"
                item-value="id"
                autocomplete
                :multiple="multiple"
                :chips="chips"
                :error-messages="errorMessages"
                :v-validate="vValidate"
                @input.native="load"
                @change="getSelected"
                :filter="customFilter"
                :hide-selected="hideSelected"
        ></v-select>
    </div>
</template>

<script>
  // Variables
  const keyLabel = 'ui.form.label.eventLocal'
  const urlApi = 'rest/local?name='
  const strBusEmit = 'getSelectedLocal'
  export default {
    props: [
      'multiple',
      'chips',
      'error-messages',
      'v-validate',
      'required',
      'v-model',
      'hide-selected'
    ],
    data () {
      return {
        multiple: false,
        chips: false,
        required: false,
        hideSelected: false,
        vValidate: '',
        errorMessages: '',
        vModel: '',
        labelTitle: this.$t(keyLabel),
        itemsFilters: []
      }
    },
    methods: {
      customFilter: function (item, queryText, itemText) {
        const hasValue = val => val != null ? val : ''
        const text = hasValue(item.name)
        const query = hasValue(queryText)
        return text.toString()
          .toLowerCase()
          .indexOf(query.toString().toLowerCase()) > -1
      },
      load: function (event) {
        let valueField = event.target.value
        if (valueField.length > 2) {
          let urlSearch = this.$helpers.host() + urlApi + valueField
          this.axios.get(urlSearch)
            .then(response => {
              this.$helpers.addItems(response.data, this.itemsFilters)
            })
            .catch(e => {
              this.errors.push(e)
            })
        }
      },
      getSelected: function (v) {
        this.$bus.emit(strBusEmit, v)
      }
    },
    mounted () {
      // TODO
    }
  }
</script>