<template>
    <div>
      <v-select
                  :label="labelTitle"
                  multiple
                  autocomplete
                  chips
                  :items="itemsFilters"
                  item-text="name"
                  item-value="id"
                  :filter="customFilter"
                  hide-selected="true"
                  @input.native="load"
                  @change="getSelected"
                ></v-select>
    </div>
</template>

<script>
  // Variables
  const keyLabel = 'ui.text.artiste_label'
  const urlApi = 'rest/artistesdj?name='
  const strBusEmit = 'getSelectedArtistes'
  export default {
    data () {
      return {
        labelTitle: this.$t(keyLabel),
        itemsFilters: []
      }
    },
    methods: {
      customFilter: function (item, queryText, itemText) {
        const hasValue = val => val != null ? val : ''
        const text = hasValue(item.name)
        const query = hasValue(queryText)
        return text.toString()
          .toLowerCase()
          .indexOf(query.toString().toLowerCase()) > -1
      },
      load: function (event) {
        let valueField = event.target.value
        if (valueField.length > 2) {
          let urlSearch = this.$helpers.host() + urlApi + valueField
          this.axios.get(urlSearch)
            .then(response => {
              this.$helpers.addItems(response.data.results, this.itemsFilters)
            })
            .catch(e => {
              this.errors.push(e)
            })
        }
      },
      getSelected: function (v) {
        this.$bus.emit(strBusEmit, v)
      }
    }
  }
</script>