<template>
    <div>
      <v-select
                :label="labelTitle"
                :items="itemsFilters"
                item-text="name"
                item-value="id" 
                :multiple="multiple"
                :chips="chips"
                :error-messages="errorMessages"
                :v-validate="vValidate"
                :v-model="vModel"
                @change="getSelected"
                :hide-selected="hideSelected"
        ></v-select> 
    </div>
</template>

<script>
  // Variables
  const keyLabel = 'ui.form.label.eventThematique'
  const urlApi = 'rest/thematiques'
  const strBusEmit = 'getSelectedThematiques'
  export default {
    props: [
      'multiple',
      'chips',
      'error-messages',
      'v-validate',
      'v-model',
      'required',
      'hide-selected'
    ],
    data () {
      return {
        multiple: false,
        chips: false,
        required: false,
        hideSelected: false,
        vValidate: '',
        errorMessages: '',
        vModel: '1',
        labelTitle: this.$t(keyLabel),
        itemsFilters: []
      }
    },
    methods: {
      load: function () {
        this.axios.get(this.$helpers.host() + urlApi)
          .then(response => {
            this.$helpers.addItems(response.data.results, this.itemsFilters)
            this.vModel = '2'
          })
          .catch(e => {
            this.errors.push(e)
          })
      },
      getSelected: function (v) {
        this.$bus.emit(strBusEmit, v)
      }
    },
    mounted () {
      this.load()
    },
    created: function () {}
  }
</script>