<template>
    <div>
      <v-select
                :label="labelTitle"
                :items="itemsFilters"
                item-text="name"
                item-value="id"
                autocomplete
                :multiple="multiple"
                :chips="chips"
                :error-messages="errorMessages"
                :v-validate="vValidate"
                @change="changeAccess"
        ></v-select>
    </div>
</template>

<script>
  // Variables
  const keyLabel = 'ui.form.label.eventAccess'
  const urlApi = 'rest/entreetypes'
  const strBusEmit = 'getSelectedAccess'
  export default {
    props: [
      'multiple',
      'chips',
      'error-messages',
      'v-validate',
      'required',
      'v-model'
    ],
    data () {
      return {
        multiple: false,
        chips: false,
        required: false,
        vValidate: '',
        errorMessages: '',
        vModel: '',
        labelTitle: this.$t(keyLabel),
        itemsFilters: []
      }
    },
    methods: {
      load: function () {
        this.axios.get(this.$helpers.host() + urlApi)
          .then(response => {
            this.$helpers.addItems(response.data.results, this.itemsFilters)
          })
          .catch(e => {
            this.errors.push(e)
          })
      },
      changeAccess: function (v) {
        this.getSelected(v)
        if (v === 2) {
          // Cacher tarif
          this.$bus.emit('hideTarif')
        }
        if (v !== 2) {
          // Cacher tarif
          this.$bus.emit('showTarif')
        }
      },
      getSelected: function (v) {
        this.$bus.emit(strBusEmit, v)
      }
    },
    mounted () {
      this.load()
    }
  }
</script>