<template>
    <v-layout>
    <v-flex xs12 sm6 md5>
            <v-menu offset-y>
              <v-btn color="primary" dark slot="activator">{{ optDateLabel }}</v-btn>
                <v-list>
                  <v-list-tile v-for="item in itemsChoiceDate" :key="item.title" @click="chooseDate(item)">
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                  </v-list-tile>
                </v-list>
            </v-menu>
          </v-flex>
          <v-flex xs12 sm6 md5>

            <div class="mtl">
            <v-icon>event</v-icon>
            <flat-pickr
                    @on-close="listenToOnCloseEventFlatPickerMultiple"
                    v-show="optDateKey == 'multiplesDates'"
                    :config="flatpickerConfig.multiple"
                    class="form-control"
                    :placeholder="$t('ui.form.label.eventDate')"
                    name="date_multiple"
                    v-model="valueDateMultiple"
                    :v-type="typeDateMultiple"
                    >
            </flat-pickr>

            <flat-pickr
                    v-show="optDateKey == 'betweenDates'"
                    @on-close="listenToOnCloseEventFlatPickerRange"
                    :config="flatpickerConfig.range"
                    class="form-control"
                    :placeholder="$t('ui.form.label.eventDate')"
                    name="date_range"
                    v-model="valueDateRange"
                    :v-type="typeDateRange"
                    >
            </flat-pickr>

            <flat-pickr
                    v-show="optDateKey == 'dateHour'"
                    @on-close="listenToOnCloseEventFlatPickerSimple"
                    :config="flatpickerConfig.simple"
                    class="form-control"
                    :placeholder="$t('ui.form.label.eventDate')"
                    name="date"
                    v-model="valueDateSimple"
                    :v-type="typeDateSimple"
                    >
            </flat-pickr>
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
  import {French} from 'flatpickr/dist/l10n/fr'
  export default {
    props: [
      'optDateLabel',
      'optDateKey',
      'valueDateSimple',
      'valueDateRange',
      'valueDateMultiple'
    ],
    data () {
      return {
        // Config Date
        flatpickerConfig: {
          simple: {
            enableTime: true,
            hourIncrement: 1,
            dateFormat: 'd-m-Y H:i',
            locale: French
          },
          multiple: {
            mode: 'multiple',
            dateFormat: 'd-m-Y',
            locale: French
          },
          range: {
            mode: 'range',
            dateFormat: 'd-m-Y',
            locale: French
          }
        },
        typeDateSimple: '',
        typeDateRange: '',
        typeDateMultiple: '',
        flatPickerMultiple: '',
        // Items
        itemsChoiceDate: [
          { key: 'dateHour', title: this.$t('ui.text.date_hour') },
          { key: 'betweenDates', title: this.$t('ui.text.date_range') },
          { key: 'multiplesDates', title: this.$t('ui.text.date_multiple') }
        ]
      }
    },
    methods: {
      listenToOnCloseEventFlatPickerMultiple: function (selectedDates, dateStr, instance) {
        // alert('listen To OnChange Event' + dateStr)
        this.$bus.emit('flatPickerMultiple', dateStr)
      },
      listenToOnCloseEventFlatPickerRange: function (selectedDates, dateStr, instance) {
        this.$bus.emit('flatPickerRange', dateStr)
      },
      listenToOnCloseEventFlatPickerSimple: function (selectedDates, dateStr, instance) {
        this.$bus.emit('flatPickerSimple', dateStr)
      },
      chooseDate: function (item) {
        this.optDateLabel = item.title
        this.optDateKey = item.key
      }
    }
  }
</script>