<template>
  <v-layout row wrap class="pal">
        <!-- 1ere colonne -->
        <v-flex xs7>
          <v-form ref="form"> 
        <!-- Nom  -->
        <v-text-field
            autofocus
            :label="$t('ui.form.label.lieuName')"
            required
            v-model="fieldName"
            v-validate="'required'"
        ></v-text-field>
        <v-select
                :label="$t('ui.form.label.searchPaysRegionVilleQuartier')"
                :items="itemsSearch"
                item-text="name"
                item-value="id" 
                autocomplete
                @input.native="searchPaysRegionVilleQuartier"
                cache-items
        >
          <template slot="item" slot-scope="data">
            <div @click="fillSelectPaysRegionCommuneQuartier(data.item)" class="width-100perc">           
            <div v-html="resultPRVQ(data.item)"></div>
            </div>
          </template>
        </v-select>
        <v-card-actions class="pt-3 pb-3">
          <v-spacer></v-spacer>
          <v-select
                :label="$t('ui.form.label.lieuPays')"
                :items="itemsPays"
                item-text="name"
                item-value="id"
                v-model="valuesPays"
                @change="changePays"
                autocomplete
        ></v-select> 
          <v-spacer></v-spacer>
          <v-select
                :label="$t('ui.form.label.lieuRegion')"
                :items="itemsRegion"
                item-text="name"
                item-value="id" 
                v-model="valuesRegion"
                @change="changeRegion" 
                autocomplete
        ></v-select> 
          <v-spacer></v-spacer>
          <v-select
                :label="$t('ui.form.label.lieuLocality')"
                :items="itemsLocality"
                item-text="name"
                item-value="id" 
                v-model="valuesLocality" 
                @change="changeVille"
                autocomplete
        ></v-select> 
          <v-spacer></v-spacer>
          <v-select
                :label="$t('ui.form.label.lieuQuartier')"
                :items="itemsQuartier"
                item-text="name"
                item-value="id" 
                v-model="valuesQuartier" 
                autocomplete
        ></v-select> <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
      <!-- GPS  -->
      <v-layout row wrap>
        <v-flex xs10>
        <v-text-field
            :label="$t('ui.form.label.lieuGps')"
            required
            v-model="fieldGps" 
        ></v-text-field>
        </v-flex>
        <v-flex xs1>
          <v-tooltip left>
            <v-btn fab icon slot="activator" @click="openMap" :disabled="statusOpenMap">
              <v-icon>location_searching</v-icon>
            </v-btn>
            <span>{{ $t('ui.tooltip.open_map') }}</span>
          </v-tooltip>
        </v-flex>
        <v-flex xs1>  
          <v-tooltip left>
            <v-btn fab icon slot="activator" @click="refreshGpsData" :disabled="statusRefreshGpsData">
              <v-icon>refresh</v-icon>
            </v-btn>
            <span>{{ $t('ui.tooltip.refresh') }}</span>
          </v-tooltip>
        </v-flex>
        </v-layout> 
      <!-- Textarea Adresse -->
        <v-text-field
                v-model="fieldAdresse"
                :label="$t('ui.form.label.lieuAdresse')"
                multi-line
        ></v-text-field>
        <!-- Tel  -->
        <v-text-field
            prepend-icon="phone"
            :label="$t('ui.form.label.lieuTel')"
            required
            v-model="fieldTel"
        ></v-text-field>
        <!-- Email  -->
        <v-text-field
            :label="$t('ui.form.label.lieuEmail')"
            required
            v-model="fieldEmail"
        ></v-text-field>
        <!-- Facebook  -->
        <v-text-field
            :label="$t('ui.form.label.lieuFacebook')"
            required
            v-model="fieldFacebook"
        ></v-text-field> 
        <!-- URL  -->
        <v-text-field
            :label="$t('ui.form.label.lieuUrl')"
            required
            v-model="fieldUrl"
        ></v-text-field>  
        <!-- Bouton Enregistrer -->  
        <v-btn v-shortkey="['ctrl','s']" @shortkey="submit" @click="submit" :disabled="errors.any()" >{{ $t('ui.button.save') }}</v-btn>
        <v-btn v-show="itemId > 0" error v-shortkey="['ctrl','d']" @shortkey="deleteItem" @click="deleteItem" :disabled="errors.any()" >{{ $t('ui.button.delete') }} <v-icon right dark>delete</v-icon></v-btn>
        </v-form>
        <!-- /1ere colonne -->
      </v-flex>
      <v-flex xs5 class="pal">
      <!-- 2e colonne -->
      <!-- Bloc dropzones -->
      <vue-dropzone @vdropzone-removed-file="vremovedfile" @vdropzone-success="vsuccess" ref="myVueDropzone" id="dropzone"  :options="{dictRemoveFile: $t('ui.text.drop_remove_file'), dictMaxFilesExceeded: '{{maxFiles}}', dictDefaultMessage: $t('ui.text.drop_files_upload'), addRemoveLinks: true, url: $helpers.host() + 'rest/uploadflyers', paramName: dropzoneOptions.paramName, params: dropzoneOptions.params}"></vue-dropzone>  
      <!-- Bloc Coller image -->
      <br><div @paste="pasteimage" class="vue-dropzone dropzone dz-clickable"><div class="dz-default dz-message">
        <span v-if="!loading">{{ $t('ui.text.paste_clipboard') }}</span>
        <div v-if="loading">{{ $t('ui.text.loading') }}
          <!-- Loading CSS -->
          <div class="spinner" v-show="$route.params.id > 0 && loading">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <!-- Loading CSS -->
        </div>
        <!-- Image collée afficher -->
        <img  v-if="loading" :src="imageSrcPasted" style="width:100%;opacity:0.2" />
      </div></div>   
      <!-- Liste des fichiers sauvegardées -->
      <v-list two-line>
        <template v-for="(item, index) in filesArr">
          <v-menu offset-y absolute full-width>
  <v-list-tile
    slot="activator"
    avatar
    ripple 
    :key="item.fileserver"
  > 
    <v-list-tile-content>
      <v-list-tile-title>
        {{ item.name }}
        <span v-if="!item.manuallyAdded"> - {{ item.size | formatFileSize }}</span>
        <span v-if="item.manuallyAdded"> - {{ $t('ui.text.pasted_image') }}</span>
      </v-list-tile-title> 
    </v-list-tile-content>
    <v-list-tile-action>
      <v-icon
        v-show="mainFlyerId === item.fileid"
        color="grey lighten-1"
      >check</v-icon>
    </v-list-tile-action>
  </v-list-tile>
  <v-list>
    <v-list-tile v-for="(items, indexMenu) in itemsMenu" :key="index" @click="setActionMenuImage(items, item.fileid, index)">
      <v-list-tile-title>{{ items.title }}</v-list-tile-title>
    </v-list-tile>
  </v-list>
</v-menu>
          <v-divider v-if="index + 1 < filesArr.length" :key="index"></v-divider>
        </template>
      </v-list>
      <!-- /Liste des fichiers sauvegardées -->  
       <div v-show="itemId > 0" >
        <vue-croppie
            
            ref=croppieRef 
            :enableOrientation="true"
            @result="result"
            @update="update">
        </vue-croppie>  
      <div><img v-bind:src="cropped"/></div>
      </div>
      <!-- 2e colonne -->
      </v-flex>
         
      <!-- Boite de dialog -->
      <v-dialog v-model="dialogfsMap" fullscreen transition="dialog-bottom-transition" :overlay="false">
        <v-card>
          <v-toolbar dark color="primary">
                <v-tooltip bottom>
                  <v-btn slot="activator" icon v-shortkey="['esc']" @shortkey="dialogfsMap = false" @click.native="dialogfsMap = false" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                  <span>{{ $t('ui.tooltip.fermer') }}</span>
                </v-tooltip> 
          </v-toolbar>
          <v-layout row wrap align-center class="backgroundBlack">
            <v-flex class="text-xs-center">
                <!--<iframe
                  width="100%"
                  height="450"
                  frameborder="0" style="border:0"
                  :src="urlIframe()" allowfullscreen>
                </iframe>-->
                <l-map :zoom="zoom" :center="center">
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
      <l-marker :lat-lng="marker"></l-marker>
    </l-map>
            </v-flex>
          </v-layout>
        </v-card>
      </v-dialog>
      <!-- Boite de dialog -->
        
    
  </v-layout>
</template>

<style scoped>
img {
  width: 100%
}
</style>

<script>
    /* eslint-disable */
    import _ from 'lodash'
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.css'
    import _Cropper from 'cropperjs'
    import 'cropperjs/dist/cropper.css'
    import { LMap, LTileLayer, LMarker } from 'vue2-leaflet'
    import 'leaflet/dist/leaflet.css'

    // URL Rest API
    const urlSaveApi = 'rest/savelieus'
    const urlDeleteApi = 'rest/deletelieus?id='
    const busCloseDialog = 'setClosedDialogfsPlaces'
    const busAddItem = 'addItemPlaces'
    const busUpdateItem = 'updateItemPlaces'
    const busDeleteItem = 'deletedItemPlaces'
    const busToolbarDialog = 'setToolbarDialogPlaces'
    // const { dialog } = require('electron').remote

    // URL Rest API
    const urlApiPays = 'rest/countries'
    const urlApiRegion = 'rest/regions?country_id='
    const urlApiVille = 'rest/localities?region_id='
    const urlApiQuartier = 'rest/quartiers?ville_id='
    const urlApiSearch = 'rest/lieux?nolieu=1&name='

    // Store
    const Store = require('electron-store')
    const electronSettings = new Store()

    export default {
      components: {
        vueDropzone: vue2Dropzone,
        LMap,
        LTileLayer,
        LMarker
      },
      $_veeValidate: {
        validator: 'new'
      },
      data: () => ({
        statusOpenMap: true,
        statusRefreshGpsData: true,
        // Leaflet
        zoom:13,
        center: L.latLng(47.413220, -1.219482),
        url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
        attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        marker: L.latLng(47.413220, -1.219482),
        cropped: null,
        // DROPZONES param
        dropzoneOptions: {
          paramName: 'flyer',
          params: {
            'flyerurl': '',
            'oldfilename': ''
          }
        },
        filesArr: [],
        showMenu: false,
        itemsMenu: [
          { action: 'crop', title: 'Cadrer' },
          { action: 'setmain', title: 'Choisir comme image principale' }
        ],
        // Flyer principal
        mainFlyerId: '',
        imageSrcPasted: '',
        // ID item
        itemId: 0,
        // Champ nom
        fieldName: '',
        // Adresse
        fieldAdresse: '',
        // Tel
        fieldTel: '',
        // Facebook
        fieldFacebook: '',
        // Urls
        fieldUrl: '',
        // Email
        fieldEmail: '',
        // GPS
        fieldGps: '',
        // Qui a ouvert dialog
        opener: '',
        // Erreurs
        errorsServer: [],
        // Dialog
        dialogConfirm: false,
        // Afficher tarif
        switchShowTarif: false,
        // Valeurs pays
        itemsPays: [],
        valuesPays: null,
        // Valeurs region
        itemsRegion: [],
        valuesRegion: null,
        // Valeur Ville
        itemsLocality: [],
        valuesLocality: null,
        // Valeur Quartier
        itemsQuartier: [],
        valuesQuartier: null,
        // Search
        itemsSearch: [],
        loadingSearch: false,
        loading: false,
        // Dialog
        dialogfsMap: false
      }),
      methods: {
        // Cropper
        cropImage: function () {
          // get image data for post processing, e.g. upload or setting image src
          this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL()
        },
        urlIframe: function () {
          let url = this.$helpers.host() + 'gmap'
          if (this.fieldGps !== '') {
            url += '?gps=' + this.fieldGps
          }
          return url
        },
        openMap: function () {
          // this.dialogfsMap = true
          this.$electron.ipcRenderer.send('openPopup', this.itemId)
          this.$electron.ipcRenderer.send('setPopupView')
          this.statusRefreshGpsData = false
        },
        refreshGpsData: function () {
          if (this.itemId === 0) {
            return false
          }
          this.showDetail(this.itemId)
        },
        // Clic sur Menu item
        setActionMenuImage: function (item, imageId, imageIndex) {
          if (typeof item.action === 'undefined') {
            return false
          }
          switch (item.action) {
            case 'crop' :
              return alert('crop')

            default:
              return this.setMainFlyer(imageId, imageIndex)
          }
        },
        // Si on a copié une image
        pasteimage: function (event) {
          var thisExt = this
          // use event.originalEvent.clipboard for newer chrome versions
          let items = (event.clipboardData || event.originalEvent.clipboardData).items
          // find pasted image among pasted items
          let blob = null
          for (let i = 0; i < items.length; i++) {
            if (items[i].type.indexOf('image') === 0) {
              blob = items[i].getAsFile()
            }
          }
          // load image if there is a pasted image
          if (blob !== null) {
            let reader = new FileReader()
            reader.onload = function (event) {
              thisExt.imageSrcPasted = event.target.result
              thisExt.loading = true
              let urlUpload = thisExt.$helpers.host() + 'rest/uploadflyers'
              thisExt.axios.post(urlUpload, { flyer: 'noPicture', oldfilename: '', flyerurl: event.target.result })
                .then(function (response) {
                  let serverFilename = response.data.filename
                  let file = { size: 123, filename: serverFilename, name: serverFilename }
                  let url = thisExt.$helpers.host() + 'tmp/' + serverFilename
                  thisExt.$refs.myVueDropzone.manuallyAddFile(file, url)
                  thisExt.addFileDropZone(file, response.data)
                })
            }
            reader.readAsDataURL(blob)
          }
        },
        // Enregistrer le flyer comme principal
        setMainFlyer: function (id, index) {
          // alert(id + ' - ' + index)
          this.mainFlyerId = id
          this.filesArr[index].mainflyer = true
          for (let i = this.filesArr.length - 1; i >= 0; i--) {
            let fileprops = this.filesArr[i]
            if (fileprops.fileid !== id) {
              fileprops.mainflyer = false
            }
          }
        },
        // Supprimer un fichier
        vremovedfile: function (file, error, xhr) {
          this.filesArr.splice(this.filesArr.indexOf(file), 1)
        },
        // Ajouter un fichier a DROPZONE
        addFileDropZone: function (file, response) {
          file.fileid = response.filename
          file.fileserver = response.filename
          file.mainflyer = false
          this.loading = false
          // SI aucun flyer
          if (this.filesArr.length <= 0) {
            this.mainFlyerId = file.fileid
            file.mainflyer = true
          }
          this.filesArr.push(file)
          console.log(this.filesArr)
          this.$bus.emit('setSnackbarMessage', response.success)
        },
        vsuccess: function (file, response) {
          this.addFileDropZone(file, response)
        },
        isQuartierType: function (data) {
          let typeofregion = typeof data.region
          let typeoflocality = typeof data.locality
          let typeofcountry = typeof data.country

          // Le type est un Quartier
          if (typeofregion === 'undefined' && typeoflocality !== 'undefined' && typeofcountry === 'undefined') {
            return true
          }

          return false
        },
        isCommuneType: function (data) {
          let typeofregion = typeof data.region
          let typeoflocality = typeof data.locality
          let typeofcountry = typeof data.country

          // Le type est un Commune
          if (typeofregion !== 'undefined' && typeoflocality === 'undefined' && typeofcountry === 'undefined') {
            return true
          }

          return false
        },
        isRegionType: function (data) {
          let typeofregion = typeof data.region
          let typeoflocality = typeof data.locality
          let typeofcountry = typeof data.country

          // Le type est une Region
          if (typeofregion === 'undefined' && typeoflocality === 'undefined' && typeofcountry !== 'undefined') {
            return true
          }

          return false
        },
        isPaysType: function (data) {
          let typeofregion = typeof data.region
          let typeoflocality = typeof data.locality
          let typeofcountry = typeof data.country

          // Le type est un pays
          if (typeofregion === 'undefined' && typeoflocality === 'undefined' && typeofcountry === 'undefined') {
            return true
          }

          return false
        },
        resultatQ: function (data) {
          let html = ''
          let commune = data.locality.name
          let region = data.locality.region.name
          let country = data.locality.region.country.name

          html = 'Quartier : <strong>' + data.name + '</strong><em> - Commune : <strong>' + commune + '</strong> - Region : <strong>' + region + '</strong> - Pays : <strong>' + country + '</strong></em>'

          return html
        },
        resultatC: function (data) {
          let html = ''
          let region = data.region.name
          let country = data.region.country.name

          html = 'Commune : <strong>' + data.name + '</strong><em> - Region : <strong>' + region + '</strong> - Pays : <strong>' + country + '</strong></em>'

          return html
        },
        resultatR: function (data) {
          let html = ''
          let country = data.country.name
          html = 'Region : <strong>' + data.name + '</strong><em> - Pays : <strong>' + country + '</strong></em>'
          return html
        },
        resultatP: function (data) {
          let html = ''
          html = 'Pays : <strong>' + data.name + '</strong>'
          return html
        },
        // Resultat Pays Region VIlle Quartier
        resultPRVQ: function (data) {
          // Si c'est un pays
          if (this.isPaysType(data)) {
            return this.resultatP(data)
          }
          // Si c'est une region
          if (this.isRegionType(data)) {
            return this.resultatR(data)
          }
          // Si c'est une commune
          if (this.isCommuneType(data)) {
            return this.resultatC(data)
          }
          // Si c'est un quartier
          if (this.isQuartierType(data)) {
            return this.resultatQ(data)
          }
          return ''
        },
        fillSelectPaysRegionCommuneQuartier: function (data) {
          // console.log(data)
          // Si c'est un pays
          if (this.isPaysType(data)) {
            return this.fillPays(data)
          }
          // Si c'est une region
          if (this.isRegionType(data)) {
            return this.fillRegion(data)
          }
          // Si c'est une commune
          if (this.isCommuneType(data)) {
            return this.fillCommune(data)
          }
          // Si c'est un quartier
          if (this.isQuartierType(data)) {
            return this.fillQuartier(data)
          }
        },
        fillPays: function (data) {
          // Reset region
          this.itemsRegion = []

          // Reset Ville
          this.itemsLocality = []

          // Reset Quartier
          this.itemsQuartier = []

          // Remplir Select Pays
          this.valuesPays = data.id
        },
        fillRegion: function (data) {
          // Reset region
          this.itemsRegion = []

          // Reset Ville
          this.itemsLocality = []

          // Reset Quartier
          this.itemsQuartier = []

          this.fillPays(data.country)
          let dataN = [{
            id: data.id,
            name: data.name
          }]
          this.$helpers.addItems(dataN, this.itemsRegion)
          this.valuesRegion = data.id
        },
        fillCommune: function (data) {
          // Reset Ville
          this.itemsLocality = []

          // Reset Quartier
          this.itemsQuartier = []

          this.fillRegion(data.region)
          let dataN = [{
            id: data.id,
            name: data.name
          }]
          this.$helpers.addItems(dataN, this.itemsLocality)
          this.valuesLocality = data.id
        },
        fillQuartier: function (data) {
          // Reset Quartier
          this.itemsQuartier = []

          this.fillCommune(data.locality)
          let dataN = [{
            id: data.id,
            name: data.name
          }]
          this.$helpers.addItems(dataN, this.itemsQuartier)
          this.valuesQuartier = data.id
        },
        searchPaysRegionVilleQuartier: _.debounce(function (valueField) {
          // Si valeur vide
          if (_.isEmpty(valueField.target.value)) {
            return false
          }
          this.loadingSearch = true
          this.itemsSearch = []
          this.axios.get(this.$helpers.host() + urlApiSearch + valueField.target.value)
            .then(response => {
              // Trier avant affichage
              response.data = _.orderBy(response.data, 'name')
              this.$helpers.addItems(response.data, this.itemsSearch)
            })
            .catch(e => {
              this.errors.push(e)
            })
        }, 500),
        // onChange Pays
        changePays: function (v) {
          // Reset Region
          this.itemsRegion = []
          this.valuesRegion = null

          // Reset Ville
          this.itemsLocality = []
          this.valuesLocality = null

          // Reset Quartier
          this.itemsQuartier = []
          this.valuesQuartier = null

          this.loadListRegions(v)
        },
        // onChange Region
        changeRegion: function (v) {
          // Reset Ville
          this.itemsLocality = []
          this.valuesLocality = null

          // Reset Quartier
          this.itemsQuartier = []
          this.valuesQuartier = null

          this.loadListVille(v)
        },
        // onChange Ville
        changeVille: function (v) {
          // Reset Quartier
          this.itemsQuartier = []
          this.valuesQuartier = null

          this.loadListQuartier(v)
        },
        getDictionnary: function () {
          let emptyError = this.$t('ui.form.error.empty')
          let dictionary = {
            custom: {
              name: {
                required: () => emptyError
              }
            }
          }
          return dictionary
        },
        // Apres enregistrement sur le serveur
        doAfterSavedItem: function (response) {
          let entity = {
            id: response.id,
            name: response.name
          }
          // Afficher snackbar
          let textConfirmItemCreated = this.$t('ui.snackbar.confirmItemCreated')
          this.$bus.emit('setSnackbar', textConfirmItemCreated)
          // alert('681: ' + this.opener)
          // Si opener non vide
          if (this.opener !== '') {
            // Fermer cette boite de dialog
            this.$bus.emit(busCloseDialog, {b: false, id: response.id})
          }
          // Si Ajout
          if (this.opener !== '' && this.itemId <= 0) {
            // alert('688')
            // Ajouter la thematique dans v-select
            this.$bus.emit(busAddItem, entity)
            return false
          }
          // Si Update
          if (this.opener !== '' && this.itemId > 0) {
            // alert('694')
            // Ajouter la thematique dans v-select
            this.$bus.emit(busUpdateItem, entity)
            return false
          }
        },
        doAfterDeletedItem: function (response) {
          // Succes ou erreur
          let isSuccess = typeof response.success === 'string'
          let msg = isSuccess ? response.success : response.error
          // Fermer cette boite de dialog
          this.$bus.emit(busCloseDialog, {b: false})
          // Snackbar
          this.$bus.emit('setSnackbar', msg)
          // Suppr la thematique du v-select
          this.$bus.emit(busDeleteItem, this.itemId)
        },
        // Supprimer sur le serveur
        deleteItemFromServer: function () {
          this.dialogConfirm = false
          if (this.itemId <= 0) {
            return false
          }
          this.axios.get(this.$helpers.host() + urlDeleteApi + this.itemId)
            .then(response => {
              this.doAfterDeletedItem(response.data)
            })
            .catch(e => {
              this.errors.push(e)
            })
        },
        // Supprimer
        deleteItem: function () {
          this.dialogConfirm = true
          /* dialog.showMessageBox({
            type: 'question',
            buttons: ['Yes', 'No'],
            title: 'Confirm',
            message: 'Unsaved data will be lost. Are you sure you want to quit?'
          }, function (response) {
            if (response === 0) {
              // Send delete server
              thisExt.deleteThematiqueFromServer()
            }
          }) */
        },
        // Enregistrer form - CTRL+S
        submit () {
          this.$validator.validateAll().then((result) => {
            if (!result) {
              return false
            }
            
            let strRes = []
            strRes.push('name=' + this.fieldName)
            strRes.push('tel=' + this.fieldTel)
            strRes.push('facebook=' + this.fieldFacebook)
            strRes.push('email=' + this.fieldEmail)
            strRes.push('www=' + this.fieldUrl)
            strRes.push('gps=' + this.fieldGps)
            strRes.push('adresse=' + this.fieldAdresse)
            strRes.push('id=' + this.itemId)
            strRes.push('pays=' + this.valuesPays)
            strRes.push('region=' + this.valuesRegion)
            strRes.push('locality=' + this.valuesLocality)
            strRes.push('quartier=' + this.valuesQuartier)
             
            /* alert('Form Submitted: ' + strRes.join('&'))
            return false */
            let dataParams = {
              data: {
                name: this.fieldName,
                tel: this.fieldTel,
                facebook: this.fieldFacebook,
                email: this.fieldEmail,
                www: this.fieldUrl,
                gps: this.fieldGps,
                adresse: this.fieldAdresse,
                id: this.itemId
              }
            }
            if (this.valuesPays > 0) {
              dataParams.data.pays = this.valuesPays
            }
            if (this.valuesRegion > 0) {
              dataParams.data.region = this.valuesRegion
            }
            if (this.valuesLocality > 0) {
              dataParams.data.ville = this.valuesLocality
            }
            if (this.valuesQuartier > 0) {
              dataParams.data.quartier = this.valuesQuartier
            }
            // Enregistrer sur le serveur
            this.axios.post(this.$helpers.host() + urlSaveApi, dataParams)
              .then(response => {
                // Vider le champ txt
                this.fieldName = ''
                this.doAfterSavedItem(response.data)
              })
              .catch(e => {
                this.errors.push(e)
              })
          })
        },
        // Reset form
        resetFields: function () {
          this.fieldName = ''
          this.fieldAdresse = ''
          this.fieldTel = ''
          this.fieldEmail = ''
          this.fieldUrl = ''
          this.fieldGps = ''
          this.fieldFacebook = ''
          this.valuesPays = ''
          this.valuesRegion = ''
          this.valuesLocality = ''
          this.valuesQuartier = ''
        },
        // Charger la liste des Pays
        loadListCountries: function () {
          this.axios.get(this.$helpers.host() + urlApiPays)
            .then(response => {
              // Trier avant affichage
              response.data = _.orderBy(response.data, 'name')
              this.$helpers.addItems(response.data, this.itemsPays)
            })
            .catch(e => {
              this.errors.push(e)
            })
        },
        // Charger la liste des Regions en fonction du Pays
        loadListRegions: function (id) {
          if (typeof id !== 'number') {
            return false
          }
          this.itemsRegion = []
          this.axios.get(this.$helpers.host() + urlApiRegion + id)
            .then(response => {
              // Trier avant affichage
              response.data = _.orderBy(response.data, 'name')
              this.$helpers.addItems(response.data, this.itemsRegion)
            })
            .catch(e => {
              this.errors.push(e)
            })
        },
        // Charger la liste des Villes en fonction de la région
        loadListVille: function (id) {
          if (typeof id !== 'number') {
            return false
          }
          this.itemsLocality = []
          this.axios.get(this.$helpers.host() + urlApiVille + id)
            .then(response => {
              // Trier avant affichage
              response.data = _.orderBy(response.data, 'name')
              this.$helpers.addItems(response.data, this.itemsLocality)
            })
            .catch(e => {
              this.errors.push(e)
            })
        },
        // Charger la liste des Quartier en fonction de la ville
        loadListQuartier: function (id) {
          if (typeof id !== 'number') {
            return false
          }
          this.itemsQuartier = []
          this.axios.get(this.$helpers.host() + urlApiQuartier + id)
            .then(response => {
              // Trier avant affichage
              response.data = _.orderBy(response.data, 'name')
              this.$helpers.addItems(response.data, this.itemsQuartier)
            })
            .catch(e => {
              this.errors.push(e)
            })
        },
        setCropper: function (src) {
          this.$refs.croppieRef.bind({
            url: src,
          })
        },
        // Recup detail sur le serveur et remplir form
        showDetail: function (id) {
          this.axios.get(this.$helpers.host() + 'rest/lieux?id=' + id)
            .then(response => {
              let item = response.data
              this.fillFields(item[0])
            })
            .catch(e => {
              this.errorsServer.push(e)
            })
        },
        // Remplir les champs du form
        fillFields: function (item) {
          // Nom 
          let name = typeof item.name !== 'undefined' ? item.name : ''
          this.fieldName = name

          // Adresse 
          let address = typeof item.address !== 'undefined' ? item.address : ''
          this.fieldAdresse = address

          // facebook 
          let facebook = typeof item.facebook !== 'undefined' ? item.facebook : ''
          this.fieldFacebook = facebook

          // GPS 
          let gps = typeof item.gps !== 'undefined' ? item.gps : ''
          this.fieldGps = gps

          if (gps !== '') {
            this.statusOpenMap = false
          }

          // Tel 
          let tel = typeof item.tel !== 'undefined' ? item.tel : ''
          this.fieldTel = tel

          // Email 
          let email = typeof item.email !== 'undefined' ? item.email : ''
          this.fieldEmail = email

          // URL 
          let www = typeof item.www !== 'undefined' ? item.www : ''
          this.fieldUrl = www

          // Pays 
          let country = typeof item.country !== 'undefined' ? item.country : ''
          this.valuesPays = country !== '' ? country.id : 0

          // Region 
          let region = typeof item.region !== 'undefined' ? item.region : ''
          if (region !== '') {
            this.itemsRegion = []
            this.loadListRegions(country.id)
          }
          this.valuesRegion = region !== '' ? region.id : 0

          // Ville 
          let ville = typeof item.locality !== 'undefined' ? item.locality : ''
          if (ville !== '') {
            this.itemsLocality = []
            this.loadListVille(region.id)
          }
          this.valuesLocality = ville !== '' ? ville.id : 0

          // Quartier 
          let quartier = typeof item.quartier !== 'undefined' ? item.quartier : ''
          if (quartier !== '') {
            this.itemsQuartier = []
            this.loadListQuartier(ville.id)
          }
          this.valuesQuartier = quartier !== '' ? quartier.id : 0
        }
      },
      // Au chargement
      mounted () {
        this.$validator.localize('fr', this.getDictionnary())
        // Charger liste Pays
        this.loadListCountries()
      },
      // BUS EVENT
      created: function () {
        var thisExt = this
        // Opener
        this.$bus.$on('opener', function (view) {
          thisExt.resetFields()
          thisExt.opener = view
        })
        // Itemid
        this.$bus.$on('itemId', function (id) {
          thisExt.itemId = id
          // Modifier le toolbar du parent
          thisExt.$bus.emit(busToolbarDialog, thisExt.$t('menu.event.modifier'))
          thisExt.showDetail(id)
        })
        this.$bus.$on('setMapGpsDataInside', function (data) {
          alert(data)
        })
      }
    }
</script>