<template>
  <v-layout row wrap class="pal">
    <v-flex>
      <form> 
        <!-- Nom Event -->
        <v-text-field
            autofocus
            v-validate="'required'"
            v-model="fieldName"
            :label="$t('ui.form.label.eventAccess')"
            :error-messages="errors.collect('name')"
            data-vv-name="name"
            required
        ></v-text-field> 
        <!-- Switch Afficher tarif ou pas -->        
        <v-switch
                :label="$t('ui.form.label.hide_tarif')"
                color="blue"
                v-model="switchShowTarif"></v-switch>
        <!-- Bouton Enregistrer -->  
        <v-btn v-shortkey="['ctrl','s']" @shortkey="submit" @click="submit" :disabled="errors.any()" >{{ $t('ui.button.save') }}</v-btn>
        <v-btn v-show="itemId > 0" error v-shortkey="['ctrl','d']" @shortkey="deleteItem" @click="deleteItem" :disabled="errors.any()" >{{ $t('ui.button.delete') }} <v-icon right dark>delete</v-icon></v-btn>
    </form>
    </v-flex>

    <!-- Boite de dialog confirm -->
  <v-dialog v-model="dialogConfirm" max-width="290">
    <v-card>
      <v-card-title class="headline">{{ $t('ui.dialog.title.delete') }}</v-card-title>
      <v-card-text>{{ $t('ui.dialog.text.delete') }}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" flat="flat" v-shortkey="['esc']" @shortkey="dialogConfirm = false" @click.native="dialogConfirm = false">{{ $t('ui.button.no') }}</v-btn>
        <v-btn color="green darken-1" flat="flat" @click.native="deleteItemFromServer">{{ $t('ui.button.yes') }}</v-btn> 
      </v-card-actions>
    </v-card>
  </v-dialog>
  <!-- Boite de dialog confirm -->

  </v-layout>
</template>

<style scoped>

</style>

<script>
    // URL Rest API
    const urlSaveApi = 'rest/saveaccesses'
    const urlDeleteApi = 'rest/deleteaccess?id='
    const busCloseDialog = 'setClosedDialogfsAccess'
    const busAddItem = 'addItemAccess'
    const busUpdateItem = 'updateItemAccess'
    const busDeleteItem = 'deletedItemAccess'
    const busToolbarDialog = 'setToolbarDialogAccess'
    // const { dialog } = require('electron').remote

    // Store
    const Store = require('electron-store')
    const electronSettings = new Store()

    export default {
      $_veeValidate: {
        validator: 'new'
      },
      data: () => ({
        // ID item
        itemId: 0,
        // Champ nom
        fieldName: '',
        // Qui a ouvert dialog
        opener: '',
        // Erreurs
        errorsServer: [],
        // Dialog
        dialogConfirm: false,
        // Afficher tarif
        switchShowTarif: false
      }),
      methods: {
        getDictionnary: function () {
          let emptyError = this.$t('ui.form.error.empty')
          let dictionary = {
            custom: {
              name: {
                required: () => emptyError
              }
            }
          }
          return dictionary
        },
        // Apres enregistrement sur le serveur
        doAfterSavedItem: function (response) {
          let settingsHideTarif = electronSettings.get('hideTarif')
          let thematiqueObj = {
            id: response.id,
            name: response.name
          }
          // Sauvegarder store
          if (this.switchShowTarif && response.id !== settingsHideTarif) {
            electronSettings.set('hideTarif', response.id)
          }
          if (!this.switchShowTarif && response.id === settingsHideTarif) {
            electronSettings.set('hideTarif', '')
          }
          // Afficher snackbar
          let textConfirmItemCreated = this.$t('ui.snackbar.confirmItemCreated')
          this.$bus.emit('setSnackbar', textConfirmItemCreated)
          // Si opener non vide
          if (this.opener !== '') {
            // Fermer cette boite de dialog
            this.$bus.emit(busCloseDialog, {b: false, id: response.id})
          }
          // Si Ajout
          if (this.opener !== '' && this.itemId <= 0) {
            // Ajouter la thematique dans v-select
            this.$bus.emit(busAddItem, thematiqueObj)
            return false
          }
          // Si Update
          if (this.opener !== '' && this.itemId > 0) {
            // Ajouter la thematique dans v-select
            this.$bus.emit(busUpdateItem, thematiqueObj)
            return false
          }
        },
        doAfterDeletedItem: function (response) {
          // Succes ou erreur
          let isSuccess = typeof response.success === 'string'
          let msg = isSuccess ? response.success : response.error
          // Fermer cette boite de dialog
          this.$bus.emit(busCloseDialog, {b: false})
          // Snackbar
          this.$bus.emit('setSnackbar', msg)
          // Suppr la thematique du v-select
          this.$bus.emit(busDeleteItem, this.itemId)
        },
        // Supprimer sur le serveur
        deleteItemFromServer: function () {
          this.dialogConfirm = false
          if (this.itemId <= 0) {
            return false
          }
          this.axios.get(this.$helpers.host() + urlDeleteApi + this.itemId)
            .then(response => {
              this.doAfterDeletedItem(response.data)
            })
            .catch(e => {
              this.errors.push(e)
            })
        },
        // Supprimer
        deleteItem: function () {
          this.dialogConfirm = true
          /* dialog.showMessageBox({
            type: 'question',
            buttons: ['Yes', 'No'],
            title: 'Confirm',
            message: 'Unsaved data will be lost. Are you sure you want to quit?'
          }, function (response) {
            if (response === 0) {
              // Send delete server
              thisExt.deleteThematiqueFromServer()
            }
          }) */
        },
        // Enregistrer form - CTRL+S
        submit () {
          this.$validator.validateAll().then((result) => {
            if (!result) {
              return false
            }
            // Enregistrer sur le serveur
            this.axios.post(this.$helpers.host() + urlSaveApi, {data: {name: this.fieldName, id: this.itemId}})
              .then(response => {
                // Vider le champ txt
                this.fieldName = ''
                this.doAfterSavedItem(response.data)
              })
              .catch(e => {
                this.errors.push(e)
              })
          })
        },
        // Reset form
        resetFields: function () {
          this.fieldName = ''
          this.itemId = 0
          this.switchShowTarif = false
        }
      },
      // Au chargement
      mounted () {
        this.$validator.localize('fr', this.getDictionnary())
      },
      // BUS EVENT
      created: function () {
        var thisExt = this
        // Opener
        this.$bus.$on('opener', function (view) {
          thisExt.resetFields()
          thisExt.opener = view
        })
        // Itemid
        this.$bus.$on('itemId', function (id) {
          thisExt.itemId = id
          let settingsHideTarif = electronSettings.get('hideTarif')
          // Modifier le toolbar du parent
          thisExt.$bus.emit(busToolbarDialog, thisExt.$t('menu.event.modifier'))
          thisExt.switchShowTarif = settingsHideTarif === id
        })
        this.$bus.$on('itemRow', function (item) {
          thisExt.fieldName = item.name
        })
      }
    }
</script>