<template>
  <div id="app">
    <div  class="width-100perc">
    <v-app _dark>
      <v-navigation-drawer
        fixed
        :mini-variant="miniVariant"
        :clipped="clipped"
        v-model="drawer"
        disable-resize-watcher="true"
        app
      >
        <v-list>
          <v-list-group
            v-for="item in items" :value="item.active" v-bind:key="item.title" exact>
            <v-list-tile ripple router
            :to="item.to" slot="item" >
              <v-list-tile-action>
                <v-icon>{{ item.action }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ $t(item.title) }}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action v-if="item.items">
                <v-icon>keyboard_arrow_down</v-icon>
              </v-list-tile-action>
            </v-list-tile>
            <v-list-tile 
            router
            ripple
            :to="subItem.to"
            v-for="subItem in item.items" v-bind:key="subItem.title" exact>
              <v-list-tile-content>
                <v-list-tile-title>{{ $t(subItem.title) }}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon>{{ subItem.action }}</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>
        </v-list>
        <v-divider></v-divider>
        <v-list>
          <v-list-group
            v-for="item in itemsOther" :value="item.active" v-bind:key="item.title" exact>
            <v-list-tile ripple router
            :to="item.to" slot="item" >
              <v-list-tile-action>
                <v-icon>{{ item.action }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ $t(item.title) }}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action v-if="item.items">
                <v-icon>keyboard_arrow_down</v-icon>
              </v-list-tile-action>
            </v-list-tile>
            <v-list-tile 
            router
            ripple
            :to="subItem.to"
            v-for="subItem in item.items" v-bind:key="subItem.title" exact>
              <v-list-tile-content>
                <v-list-tile-title>{{ $t(subItem.title) }}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon>{{ subItem.action }}</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>
        </v-list>
      </v-navigation-drawer>
      <v-content>
        <v-container fluid fill-height>
          <v-slide-y-transition mode="out-in">
            <router-view></router-view>
          </v-slide-y-transition>
        </v-container>
      </v-content>

      <v-footer :fixed="fixed" app>
        <v-spacer></v-spacer>
        <span>{{ title }} - {{ new Date() | moment("YYYY") }} </span>
      </v-footer>
    </v-app>
  </div>
  </div>
</template>

<script>
  // Store
  const Store = require('electron-store')
  const electronSettings = new Store()

  export default {
    name: 'Tsarabackend',
    data: () => ({
      // Erreurs
      errors: [],
      clipped: false,
      drawer: false,
      fixed: false,
      // Drawer menus
      items: [
        {
          action: 'dashboard',
          title: 'menu.dashboard',
          to: '/'
        },
        // Events
        {
          action: 'folder',
          title: 'menu.event.parent',
          items: [
            { title: 'menu.event.creer', to: '/event/creer' },
            { title: 'menu.event.liste', to: '/event/list' },
            { title: 'menu.event.envoyes_internautes', to: '/event/envoyesinternautes' }
          ]
        },
        // Lieux
        {
          action: 'folder',
          title: 'menu.lieux.parent',
          items: [
            { title: 'menu.lieux.creer', to: '/lieux/creer' },
            { title: 'menu.lieux.liste', to: '/lieux/list' }
          ]
        },
        // Rubriques
        {
          action: 'folder',
          title: 'menu.rubriques.parent',
          items: [
            { title: 'menu.rubriques.creer', to: '/rubriques/creer' },
            { title: 'menu.rubriques.liste', to: '/rubriques/list' }
          ]
        },
        // Membres / Abonnes
        {
          action: 'folder',
          title: 'menu.users_newsletter.parent',
          items: [
            { title: 'menu.users_newsletter.liste_membres', to: '/users/listemembres' },
            { title: 'menu.users_newsletter.liste_newsletter', to: '/users/listenewsletter' }
          ]
        },
        // Types d'entreees
        {
          action: 'folder',
          title: 'menu.types_entrees.parent',
          items: [
            { title: 'menu.types_entrees.creer', to: '/typesentrees/creer' },
            { title: 'menu.types_entrees.liste', to: '/typesentrees/list' }
          ]
        },
        // Fetes
        {
          action: 'folder',
          title: 'menu.fetes.parent',
          items: [
            { title: 'menu.fetes.creer', to: '/fetes/creer' },
            { title: 'menu.fetes.liste', to: '/fetes/list' }
          ]
        },
        // Artistes
        {
          action: 'folder',
          title: 'menu.artistes.parent',
          items: [
            { title: 'menu.artistes.creer', to: '/artistes/creer' },
            { title: 'menu.artistes.liste', to: '/artistes/list' }
          ]
        }
      ],
      itemsOther: [
        {
          action: 'settings',
          title: 'menu.settings',
          to: '/settings'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Madatsara'
    }),
    methods: {
      gohref: function (path) {
        if (arguments.length > 1) {
          this.$router.push({name: path, params: { id: arguments[1] }})
          return
        }
        this.$router.push(path)
      },
      fetch: function () {
        let url = this.$helpers.host() + 'rest/'
        this.getUrl(url)
      },
      getUrl: function (url) {
        this.axios.get(url)
          .then(response => {
            if (electronSettings.get('showNotification')) {
              this.showNotify('title notif', 'message notif')
            }
            this.$electron.ipcRenderer.send('ping')
            this.$electron.ipcRenderer.on('pong', (event, data) => {
              console.log('data: ' + data)
            })
            this.$electron.ipcRenderer.on('initPopupView', (event, data) => {
              this.drawer = false
            })
          })
          .catch(e => {
            this.errors.push(e)
            this.items = []
            this.showNotifError('', this.$t('ui.text.errormsg.connexion'))
          })
      },
      toggleDrawer () {
        this.drawer = !this.drawer
      },
      setTitleToolbar (title) {
        this.title = title
      },
      showNotify: function (title, message) {
        let notifier = require('node-notifier')

        // Object
        notifier.notify({
          title: title,
          message: message
        })
      }
    },
    updated: function () {},
    // Au chargement
    mounted () {
      this.fetch()
    },
    created: function () {
      this.$bus.on('toggleDrawer', this.toggleDrawer)
      this.$bus.on('notification', this.showNotify)
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
  body {
    font-family: Roboto;
  }
  .scroll-area {
    position: relative;
    margin: auto;
    width: 400px;
    height: 300px;
  }

</style>
